@use 'sass:map';

$input-types: 'default', 'required', 'prefix', 'prefix-required';
//
// .input-field {
//   position: relative;
// }

.input-wrapper{
  outline:none;
  position: relative;
  display: inline-block;
  border: 2px solid $mineral-40;
  border-radius: 6px;
  padding: 0px;
  font-family: $font-secondary;
  font-weight: 500;
  transition: border .3s ease, box-shadow .3s ease;
  color: red;
  position:relative;
  height: 40px;

  &::placeholder {
    color: $black-50;
  }

  &:not(:placeholder-shown)input{
    border: 2px solid $teal-40;
    box-shadow: none;
  }

  &:hover {
    box-shadow: 0px 0px 0px 6px $mineral-10;
  }


  //
  // &:hover:focus {
  //   border: 2px solid $teal-70;
  //   box-shadow: 0px 0px 0px 2px $teal-30, 0px 0px 0px 6px $teal-10;
  // }
  //




    & .input:focus{
      border: 2px solid $teal-70;
      box-shadow: 0px 0px 0px 2px $teal-30, 0px 0px 0px 6px $teal-10;
      border-radius: 6px;
      padding: 0px;
      background-color: inherit;
    }

}


input{
  height: 38px;
  font-size:16px;
  margin:0px;
  border:none;
  display:block;
  text-indent: 12px;
  padding: 0px;
  text-overflow: clip;
  background: none;


  &:focus {
    outline: none;
  }

  &:not(:placeholder-shown):hover:focus {
    box-shadow: 0px 0px 0px 6px $teal-10;
    top:-2px;
  }

  // &:not(:placeholder-shown):hover {
  //   box-shadow: 0px 0px 0px 6px $teal-10;
  //   border: 1px solid $teal-40;
  // }


}

.required {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: $mineral-40;
  border-radius: 24px;
  position: absolute;
  z-index: 1;
  right: -8px;
  top: -8px;
  // background-image: url('../src/imgs/required-icon.svg');

}


label {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 12px;
  color: $mineral-30;
  transition: 0.2s all;
  cursor: text;
}


input:not(:placeholder-shown)~label,
input-wrapper:focus~label {
  font-size: 12px;
  padding: 2px;
  top: -12px;
  color: $teal-60;
  background-color: $white;
  width: auto;
}

input:not(:placeholder-shown):invalid~label {
  font-size: 12px;
  padding: 2px;
  top: -12px;
  color: $red-60;
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(255,255,255,0) 42%, rgba(255,255,255,1) 42%);
  width: auto;
}

.prefix{
  font-size: 16px;
  border: none;
  border-radius: 4px;
  height: 24px;
  padding: 6px 10px 6px 10px;
  font-family: $font-secondary;
  font-weight: 500;
  transition: border .3s ease, box-shadow .3s ease;
  background-color: $teal-10;
  position:absolute;
  left: 3px;
  top:3px;
  z-index:1;

}

.input-prefix{
  color:$black-80;
  text-indent: 4em;
}




.suffix{
  font-size: 16px;
  border: 1px solid $teal-10;
  border-radius: 4px;
  height: 24px;
  padding: 6px 10px;
  font-family: $font-secondary;
  font-weight: 500;
  transition: border .3s ease, box-shadow .3s ease;
  background-color: $teal-10;
  color: $black-75;
  position:absolute;
  right: 1px;
  top:1px;
  z-index:1;
}
