@use 'sass:map';

$input-types: 'default', 'required', 'prefix', 'prefix-required';

.input-wrapper {
  position: relative;
  width:fit-content;
}

//Input base
input {
  display: inline-block;
  border: 2px solid $mineral-40;
  border-radius: 6px;
  padding: 0px;
  font-family: $font-secondary;
  font-weight: 500;
  transition: border .3s ease, box-shadow .3s ease;
  color: $black-80;
  height: 40px;
  font-size: 16px;
  margin: 0px;
  text-indent: 12px;
  text-overflow: clip;
  outline: none;

  &::placeholder {
    color: $black-50;
  }

  &:hover {
    box-shadow: 0px 0px 0px 6px $mineral-10;
  }

  &:focus, &:not(:placeholder-shown):focus {
    outline: none;
    border: 2px solid $teal-70;
    box-shadow: 0 0 0 2px $teal-20;
  }

  &:not(:placeholder-shown):hover:focus {
    border: 2px solid $teal-80;
    box-shadow: 0px 0px 0px 2px $teal-30, 0px 0px 0px 6px $teal-10;
  }

  &:not(:placeholder-shown) {
    border-color: $teal-40;
  }

  &:not(:placeholder-shown):hover{
    box-shadow: 0px 0px 0px 6px $teal-10;
  }

}

//Label
label {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 12px;
  color: $mineral-30;
  transition: 0.2s all;
  cursor: text;
  z-index: 1;
}

input:not(:placeholder-shown)~label,
input:focus~label {
  font-size: 12px;
  padding: 2px;
  top: -12px;
  color: $teal-60;
  background-color: $white;
  width: auto;
}

input:not(:placeholder-shown):invalid~label {
  font-size: 12px;
  padding: 2px;
  top: -12px;
  color: $red-60;
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(255,255,255,0) 42%, rgba(255,255,255,1) 42%);
  width: auto;
}

//Prefix
input.input-prefix {
  padding-left: 36px;

  &:not(:placeholder-shown)~label,
  &:focus~label {
    background: rgb(255,255,255);
    background: linear-gradient(360deg, rgba(255,255,255,0) 28%, rgba(255,255,255,1) 28%);
  }

  + .prefix {
    display: inline-block;
    background-color: $mineral-10;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 16px;
    padding: 0 8px;
    border-radius: 4px;
    position: absolute;
    top: 2px;
    line-height: 40px;
    bottom: 3px;
    left: 3px;
    z-index: 1;
    text-align: center;
    pointer-events: none;
  }


  &:focus {
    + .prefix {
      background-color: $teal-10;
    }
  }

  &:not(:placeholder-shown){
    + .prefix{
      background-color: $teal-10;
    }
  }
}

.prefix
  +label{
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    top: 10px;
    padding-left: 32px;
    color: $mineral-40;
    transition: 0.2s all;
    cursor: text;
    z-index: 1;


  }





//Sufix
input.input-suffix {
  padding-right: 36px;

  + .suffix {
    display: inline-block;
    background-color: $mineral-10;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 4px;
    position: absolute;
    top: 2px;
    line-height: 40px;
    bottom: 3px;
    right: 3px;
    z-index: 1;
    text-align: center;
    pointer-events: none;
  }

  &:focus {
    + .suffix {
      background-color: $teal-10;
    }
  }

  &:not(:placeholder-shown){
    + .suffix{
      background-color: $teal-10;
    }
  }
}

//Required
input {
  + .required {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: $mineral-40;
    border-radius: 24px;
    position: absolute;
    z-index: 1;
    right: -8px;
    top: -8px;
    // background-image: url('../src/imgs/required-icon.svg');
  }

  &:focus, &:not(:placeholder-shown):focus {
    + .required {
      background-color: $teal-70;
    }
  }

  &:not(:placeholder-shown):focus:hover {
    + .required {
      background-color: $teal-80;
    }
  }

  &:not(:placeholder-shown){
    + .required{
      background-color: $teal-40;
    }
  }
}
