@use 'sass:map';

$input-types: 'default', 'required', 'prefix', 'prefix-required';

.input-wrapper {
  position: relative;
  width:fit-content;
}

//Input base
input {
  display: inline-block;
  border: 2px solid $mineral-40;
  border-radius: 4px;
  padding: 0px;
  font-family: $font-secondary;
  font-weight: 500;
  transition: border .3s ease, box-shadow .3s ease;
  color: $black-75;
  height: 40px;
  font-size: 16px;
  margin: 0px;
  text-indent: 12px;
  text-overflow: clip;
  outline: none;
  min-width: 164px;

  &::placeholder {
    color: $black-50;
  }

  &:hover {
    box-shadow: 0px 0px 0px 6px $mineral-10;
  }

  &:focus, &:not(:placeholder-shown):focus {
    outline: none;
    border: 2px solid $teal-70;
    box-shadow: 0 0 0 2px $teal-30;
  }

  &:not(:placeholder-shown):hover:focus {
    border: 2px solid $teal-80;
    box-shadow: 0px 0px 0px 2px $teal-30, 0px 0px 0px 6px $teal-10;
  }

  &:not(:placeholder-shown) {
    border-color: $teal-40;
  }

  &:not(:placeholder-shown):hover{
    box-shadow: 0px 0px 0px 6px $teal-10;
  }

  ~ .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 10px;
    background-image: url(../static/eye.svg);
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }
}


//disabled
input:disabled, input:disabled:hover{
  border: 2px solid $mineral-30;
  background-color: $mineral-10;
  color: $black-75;
  box-shadow: none;
}

//invalid
input:invalid {
  background-color: $coral-10;
  border-color: $red-60;
  color: $red-60;

  &:focus,&:not(:placeholder-shown):focus {
    outline: none;
    border: 2px solid $red-60;
    box-shadow: 0 0 0 2px $coral-20;
  }

  &:not(:placeholder-shown):hover:focus {
    border: 2px solid $red-60;
    box-shadow: 0px 0px 0px 2px $coral-20, 0px 0px 0px 6px $coral-10;
  }

  &:not(:placeholder-shown):hover {
    box-shadow: 0px 0px 0px 6px $coral-10;
  }
}

  .error-message {
    font-size: 12px;
    color: $red-60;
    font-family: $font-secondary;
    font-weight: 500;
    padding: 2px 0 12px 12px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .label-error {
    color: $red-60;
  }

  input:not(:placeholder-shown):invalid~label{
    font-size: 12px;
    padding: 2px;
    top: -12px;
    color: $red-60;
    background: rgb(255,255,255);
    background: linear-gradient(360deg, rgba(255,255,255,0) 28%, rgba(255,255,255,1) 28%);
    width: auto;
  }

  input:not(:placeholder-shown):invalid~.error-message{
  opacity: 1;
}

//Label
label {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 12px;
  color: $mineral-30;
  transition: 0.2s all;
  cursor: text;
  z-index: 1;
}  

input:not(:placeholder-shown)~label,
input:focus~label {
  font-size: 12px;
  padding: 2px;
  top: -12px;
  color: $teal-60;
  background-color: $white;
  width: auto;
}  

//Prefix
input.input-prefix {
  padding-left: 36px;

  &:not(:placeholder-shown)~label,
  &:focus~label {
    background: rgb(255,255,255);
    background: linear-gradient(360deg, rgba(255,255,255,0) 28%, rgba(255,255,255,1) 28%);
  }  

  + .prefix {
    display: inline-block;
    background-color: $mineral-10;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
    height: 40px;
    border-radius: 2px;
    position: absolute;
    top: 2px;
    line-height: 40px;
    bottom: 3px;
    left: 2px;
    z-index: 1;
    text-align: center;
    pointer-events: none;
  }  

  &:focus {
    + .prefix {
      background-color: $teal-10;
    }  
  }  

  &:not(:placeholder-shown){
    + .prefix{
      background-color: $teal-10;
    }  
  }  
  &:disabled{
    + .prefix{
      background-color: $mineral-20;
      color: $black-50;
    }  
  }  

  &:invalid {
    + .prefix {
      background-color: $coral-20;
      color: $red-60;
    }  
  }  
}  

.prefix
  +label{
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    top: 10px;
    padding-left: 40px;
    color: $mineral-40;
    transition: 0.2s all;
    cursor: text;
    z-index: 1;
  }  

//Sufix  
input.input-suffix {
  padding-right: 36px;

  + .suffix {
    display: inline-block;
    background-color: $mineral-10;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
    height: 40px;
    border-radius: 2px;
    position: absolute;
    top: 2px;
    line-height: 40px;
    bottom: 3px;
    right: 2px;
    z-index: 1;
    text-align: center;
    pointer-events: none;
  }  

  &:focus {
    + .suffix {
      background-color: $teal-10;
    }  
  }  

  &:not(:placeholder-shown){
    + .suffix{
      background-color: $teal-10;
    }  
  }  

  &:disabled{
    + .suffix{
      background-color: $mineral-20;
      color: $black-50;
    }  
  }  

  &:invalid{
    + .suffix{
      background-color: $coral-20;
      color: $red-60;
    }  
  }  
}  

//Required
input {
  ~ .required {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: $mineral-40;
    border-radius: 24px;
    position: absolute;
    z-index: 1;
    right: -8px;
    top: -8px;
    background-image: url(../static/required-icon.svg);
  }  

  &:not(:placeholder-shown):invalid,
  &:not(:placeholder-shown):invalid:hover,
  &:not(:placeholder-shown):invalid:focus,
  &:not(:placeholder-shown):invalid:focus:hover {
    ~ .required {
      background-color: $red-60;
    }  
  }  

  &:focus, &:not(:placeholder-shown):focus {
    ~ .required {
      background-color: $teal-70;
    }  
  }  

  &:not(:placeholder-shown):focus:hover {
    ~ .required {
      background-color: $teal-80;
    }  
  }  

  &:not(:placeholder-shown){
    ~ .required{
      background-color: $teal-40;
    }  
  }  

  &:placeholder-shown {
    + .required-message {
      opacity:0;
    }  
  }  

  &:invalid {
    + .required-message {
      color: $red-60;
    }  
  }  
}  

.required-message {
  font-size: 12px;
  color: $teal-60;
  font-family: $font-secondary;
  font-weight: 500;
  padding: 2px 0 12px 12px;
  opacity: 1;
}  
// Input style
.input-colors {
  width: 140px;
  height: 36px; 
  padding: 4px;
  color: $white;
  font-family: $font-secondary;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  &.base {
    background-color: $purple-60;
  }
  
  &.hover {
    background-color: $purple-10;
    color: $black-75;
  }

  &.hover-border{
    background-color: $purple-70;
  }

  &.focus{
    background-color: $purple-30;
  }

  &.focus-border{
    background-color: $purple-80;
  }

  &.prefix{
    background-color: $purple-10;
    color: $black-75;
  }
}