h1, h2, h3, h4, h5 {
  color: $purple !important;
  font-family: $font-primary !important;
  margin: 1rem 0 1.5rem !important;
}

p {
  color: $black-75 !important;
  font-family: $font-secondary !important;
  // font-weight: 400 !important;
  font-size: 1.8rem !important;
  line-height: 2.4rem !important;
  margin: 0 !important;
}

li, ol {
  color: $black-75 !important;
  font-family: $font-secondary !important;
  font-weight: 400;
  font-size: 1.8rem !important;
  line-height: 2.4rem !important;
}

.sb-show-main {
  margin: 0 !important;
}
