$vivid-sidebar-all-colors: (
  "teal": $teal-palette,
  "purple": $purple-palette,
  "mineral": $mineral-palette,
  "coral": $coral-palette,
);

.lab-narrow-sidebar--stories{
  @media (min-width: 900px) {
    display: inline-flex;
    margin-right: 80px;
  }

  .lab-narrow-sidebar {
    display: flex;
    position: relative;
  }

  .lab-narrow-sidebar__header {
    position: relative;
    width: 100%;
  }

  .lab-narrow-sidebar__body{
    margin-top: 0;
  }

  .lab-narrow-sidebar__mobile-topbar {
    position: relative;
  }

  .lab-narrow-sidebar__mobile-button {
    display: inline;
  }

  .lab-narrow__overlay {
    display: none;
  }
}

//Purple Theming
.lab-narrow-sidebar--stories--purple{

  .lab-narrow-sidebar__collapse {
    &:focus {
      border-color: $purple-30;
    }

    &:active {
      background-color: $purple-30;
    }
  }

  .lab-narrow-sidebar__mobile-topbar {
    &-button:focus {
      border-color: $purple-30;
    }

    &-button:active {
      background-color: $purple-30;
    }
  }

  .lab-narrow-sidebar__item{
    &:focus{
      &:before{
        border-color: $purple-30;
      }
    }


    &:hover {
      background-color: $purple-10;
    }

    &:active {
      background-color: $purple-30;
    }

    &--active {
      background-color: $purple-20;
      color: $purple-70;


      .lab-narrow-sidebar__item-icon {
        background-color: $purple-70;
      }
    }
  }

  .lab-narrow-sidebar__footer{
    &__button{
      color: $purple-60;

      .lab-narrow-sidebar__footer-icon {
        background-color: $purple-60;
      }
    }

    &__button:focus {
      border-color: $purple-30;
    }

    &__button:hover {
      background-color: $purple-10;
    }

    &__button:active {
      background-color: $purple-30;

    }

    &__button--active {
      background-color: $purple-70;
      color: $purple-20;

      .lab-narrow-sidebar__footer-icon {
        background-color: $purple-70;
      }
    }
  }

}

//Mineral Theming
.lab-narrow-sidebar--stories--mineral{

  .lab-narrow-sidebar__collapse {
    &:focus {
      border-color: $mineral-30;
    }

    &:active {
      background-color: $mineral-30;
    }
  }

  .lab-narrow-sidebar__mobile-topbar {
    &-button:focus {
      border-color: $mineral-30;
    }

    &-button:active {
      background-color: $mineral-30;
    }
  }

  .lab-narrow-sidebar__item {
    &:focus{
      &:before{
        border-color: $mineral-30;
      }
    }


    &:hover {
      background-color: $mineral-10;
    }

    &:active {
      background-color: $mineral-30;
    }

    &--active {
      background-color: $mineral-20;
      color: $mineral-70;


      .lab-narrow-sidebar__item-icon {
        background-color: $mineral-70;
      }
    }
  }

  .lab-narrow-sidebar__footer{
    &__button{
      color: $mineral-60;

      .lab-narrow-sidebar__footer-icon {
        background-color: $mineral-60;
      }
    }

    &__button:focus {
      border-color: $mineral-30;
    }

    &__button:hover {
      background-color: $mineral-10;
    }

    &__button:active {
      background-color: $mineral-30;

    }

    &__button--active {
      background-color: $mineral-70;
      color: $mineral-20;

      .lab-narrow-sidebar__footer-icon {
        background-color: $mineral-70;
      }
    }
  }
}

// Overlay that appers only on mobile.
.lab-narrow__overlay {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: $black-50;
  pointer-events: none;
  transition: ease all .2s;

  &--on {
    opacity: 1;
  }

  &--off {
    opacity: 0;
  }

  @include from($tablet) {
    display: none;
  }
}

// Topbar that appears only on mobile.
// It holds the button to open the sidebar on mobile.
.lab-narrow-sidebar__mobile-topbar {
  position:fixed;
  right: 0;
  top: 0;
  background-color: map-get($narrow-sidebar-theme, "60");
  width: 100%;
  height: 76px;
  border-bottom: 1px solid transparent;

  @include from($tablet){
    display: none;
  }
}

.lab-narrow-sidebar__mobile-button {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 18px 0 18px 12px;
  background-color: transparent;
  border: $border-01 transparent;
  border-radius: $radius-02;

  &:focus {
    border-color: $white-50;
    outline: none;
  }

  &:active {
    background-color: $white-75;

    .lab-icon {
      background-color: map-get($narrow-sidebar-theme, "70");
    }
  }
}


// Vivid Skin
@each $name, $palette in $vivid-sidebar-all-colors {
  $vivid-bg: map-get($palette, "60");

  @if $palette == $mineral-palette {
    $vivid-bg: map-get($palette, "90");
  }

  .lab-narrow-sidebar--stories-vivid-#{$name} {

    .lab-narrow-sidebar--vivid {
      border: transparent;
      background: $vivid-bg;

      .lab-narrow-sidebar__header {
        background-color: $vivid-bg;
      }

      // Unselected item
      .lab-narrow-sidebar__item {
        color: $white;
        transition: all $duration-base;

        &:focus {
          &:before {
            border-color: $white-50;
          }
        }

        &:hover {
          background-color: $white-20;
        }

        &:active {
          background-color: $vivid-bg;
        }

        .lab-narrow-sidebar__item-icon {
          background-color: $white;
        }
      }

      // Selected item
      .lab-narrow-sidebar__item--active {
        background-color: $white;
        color: $vivid-bg;

        &:hover {
          color: $white;
          .lab-icon {
            background-color: $white;
          }
        }

        &:focus {
          &:before {
            border-color: $vivid-bg;
          }
        }

        &:focus:hover {
          &:before {
            border-color: white;
          }
        }

        &:active {
          background-color: $vivid-bg;
        }

        .lab-narrow-sidebar__item-icon {
          background-color: $vivid-bg;
        }
      }

      .lab-narrow-sidebar__footer__button {
        color: $white;

        .lab-narrow-sidebar__footer-icon {
          background-color: $white;
        }

        &:focus {
          border-color: $white-50;
        }

        &:hover {
          background-color: $white-20;
        }

        &:active {
          background-color: $vivid-bg;
        }
      }

      .lab-narrow-sidebar__footer__button--active {
        background-color: $white;
        color: $vivid-bg;

        .lab-narrow-sidebar__footer-icon {
          background-color: $vivid-bg;
        }
      }

      .lab-narrow-sidebar__avatar {

        &-text{
          color: $white;
        }

        &-caption {
          color: $white-75;
        }
      }

      .lab-narrow-sidebar__collapse {
        &:focus{
          border-color: $white-50;
          outline: none;
        }

        &:active {
          background-color: $white-75;

          .lab-narrow-sidebar__collapse-icon {
            background-color: $vivid-bg;
          }
        }
      }

      .lab-narrow-sidebar__collapse-icon {
        background-color: $white;
      }
    }
  }
}
