.lab-narrow-sidebar--stories{
  @media (min-width: 900px) {
    display: inline-flex;
    margin-right: 80px;
  }

  .lab-narrow-sidebar {
    display: flex;
    position: relative;
  }

  .lab-narrow-sidebar__header {
    position: relative;
    width: 100%;
  }

  .lab-narrow-sidebar__body{
    margin-top: 0;
  }

  .lab-narrow-sidebar__mobile-topbar {
    position: relative;
  }

  .lab-narrow-sidebar__mobile-button {
    display: inline;
  }

  .lab-narrow__overlay {
    display: none;
  }
}

//Purple Theming
.lab-narrow-sidebar--stories--purple{

  .lab-narrow-sidebar__collapse {
    &:focus {
      border-color: $purple-30;
    }

    &:active {
      background-color: $purple-30;
    }
  }

  .lab-narrow-sidebar__mobile-topbar {
    &-button:focus {
      border-color: $purple-30;
    }

    &-button:active {
      background-color: $purple-30;
    }
  }

  .lab-narrow-sidebar__item{
    &:focus{
      &:before{
        border-color: $purple-30;
      }
    }


    &:hover {
      background-color: $purple-10;
    }

    &:active {
      background-color: $purple-30;
    }

    &--active {
      background-color: $purple-20;
      color: $purple-70;


      .sidebar-item {
        background-color: $purple-70;
      }
    }
  }

  .lab-narrow-sidebar__footer{
    &__button{
      color: $purple-60;

      .sidebar-item {
        background-color: $purple-60;
      }
    }

    &__button:focus {
      border-color: $purple-30;
    }

    &__button:hover {
      background-color: $purple-10;
    }

    &__button:active {
      background-color: $purple-30;

    }

    &__button--active {
      background-color: $purple-70;
      color: $purple-20;

      .sidebar-item {
        background-color: $purple-70;
      }
    }
  }

}

//Mineral Theming
.lab-narrow-sidebar--stories--mineral{

  .lab-narrow-sidebar__collapse {
    &:focus {
      border-color: $mineral-30;
    }

    &:active {
      background-color: $mineral-30;
    }
  }

  .lab-narrow-sidebar__mobile-topbar {
    &-button:focus {
      border-color: $mineral-30;
    }

    &-button:active {
      background-color: $mineral-30;
    }
  }

  .lab-narrow-sidebar__item{
    &:focus{
      &:before{
        border-color: $mineral-30;
      }
    }


    &:hover {
      background-color: $mineral-10;
    }

    &:active {
      background-color: $mineral-30;
    }

    &--active {
      background-color: $mineral-20;
      color: $mineral-70;


      .sidebar-item {
        background-color: $mineral-70;
      }
    }
  }

  .lab-narrow-sidebar__footer{
    &__button{
      color: $mineral-60;

      .sidebar-item {
        background-color: $mineral-60;
      }
    }

    &__button:focus {
      border-color: $mineral-30;
    }

    &__button:hover {
      background-color: $mineral-10;
    }

    &__button:active {
      background-color: $mineral-30;

    }

    &__button--active {
      background-color: $mineral-70;
      color: $mineral-20;

      .sidebar-item {
        background-color: $mineral-70;
      }
    }
  }
}

// Overlay that appers only on mobile.
.lab-narrow__overlay {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: $black-50;
  pointer-events: none;
  transition: ease all .2s;

  &--on {
    opacity: 1;
  }

  &--off {
    opacity: 0;
  }

  @include from($tablet) {
    display: none;
  }
}

// Topbar that appers only on mobile.
// It holds the button to open the sidebar on mobile.
.lab-narrow-sidebar__mobile-topbar {
  position:fixed;
  right: 0;
  top: 0;
  background-color: map-get($narrow-sidebar-theme, "60");
  width: 100%;
  height: 76px;
  border-bottom: 1px solid transparent;

  @include from($tablet){
    display: none;
  }
}

.lab-narrow-sidebar__mobile-button {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 18px 0 18px 12px;
  background-color: transparent;
  border: $border-01 transparent;
  border-radius: $radius-02;

  &:focus {
    border-color: $white-50;
    outline: none;
  }

  &:active {
    background-color: $white-75;

    .lab-icon {
      background-color: map-get($narrow-sidebar-theme, "70");
    }
  }
}