$simple-tab-item-height: 48px;
$content-margin-top: 64px;
$docs-title-height: 240px;
$docs-content-margin: $docs-title-height - $content-margin-top;

// Title of a documentation page, or story.
.docs-title {
  background-color: $teal;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: $docs-title-height;
  padding-bottom: 24px;
  display: flex;
  align-items: flex-end;

  div {
    max-width: $content-max-width;
    width: 100%;
    margin: 0 auto;
  }
}

.docs-title__text {
  color: $white !important;
  font-size: 48px !important;
  line-height: 60px !important;
  margin: 0 !important;
  font-family: $family-serif !important;
  font-weight: $weight-bold !important;
}

.docs-content {
  margin-top: $docs-content-margin !important;
  padding-top: 40px;
}

.docs-content--with-tab {
  padding: 0;
}

.simple-tab-wrapper {
  background-color: $teal-60;
  height: $simple-tab-item-height;
  left: 0;
  right: 0;
  position: absolute;
  border-bottom-right-radius: 80px;
}

// Tabs used for documentation. Should be later replaced by our top bar or tabs.
.simple-tab { display: none; }
.simple-tab + label { display: inline-block }

.simple-tab ~ .simple-tab__content { display: none }
#tab1:checked ~ .simple-tab__content.content1,
#tab2:checked ~ .simple-tab__content.content2,
#tab3:checked ~ .simple-tab__content.content3 { display: block; }

.simple-tab + label {
  display: inline-flex;
  align-items: center;
  padding: 0 16px;
  height: $simple-tab-item-height;
  position: relative;
  color: white;
  font-family: $family-sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
  margin-bottom: 40px;
  cursor: pointer;
  background-color: $teal-60;
}
.simple-tab:checked + label {
  background: $white;
  color: $teal-60;
}