.type {
  display: block;
  background-color: $mineral-10;
  border-radius: $radius-02;
  padding: $spacing-04;
  margin: $layout-02 0;
}

p.type__text {
  margin: $spacing-02 0;
  color: $black-75;
  font-size: $font-size-8;
  line-height: 1;
  font-weight: $weight-normal;

  &--meta {
    font-family: $family-serif;
  }

  &--freight {
    font-family: $family-sans-serif;
  }

  &--ibm-plex-mono {
    font-family: $family-monospace;
  }
  
  &--size-1 {
    font-size: $font-size-1;
  }
  
  &--size-2 {
    font-size: $font-size-2;
  }
  
  &--size-3 {
    font-size: $font-size-3;
  }
  
  &--size-4 {
    font-size: $font-size-4;
  }
  
  &--size-5 {
    font-size: $font-size-5;
  }
  
  &--size-6 {
    font-size: $font-size-6;
  }
  
  &--size-7 {
    font-size: $font-size-7;
  }
  
  &--size-8 {
    font-size: $font-size-8;
  }
  
  &--size-9 {
    font-size: $font-size-9;
  }
  
  &--size-10 {
    font-size: $font-size-10;
  }
  
  &--size-11 {
    font-size: $font-size-11;
  }
  
  &--size-12 {
    font-size: $font-size-12;
  }

  &--weight-light {
    font-weight: $weight-light;
  }

  &--weight-normal {
    font-weight: $weight-normal;
  }

  &--weight-medium {
    font-weight: $weight-medium;
  }

  &--weight-semibold {
    font-weight: $weight-semibold;
  }

  &--weight-bold {
    font-weight: $weight-bold;
  }

  &--weight-black {
    font-weight: $weight-black;
  }
}