#root {
  > div {
    > .css-sqdry3 {
      top: 0 !important;
      right: 0 !important;
      width: auto !important;
      height: 100vh !important;
    }
  }
}

//sidebar
.sidebar-subheading {
  color: #007B7D !important;
  font-family: "freight-sans-pro" !important;
  font-weight: 600 !important;
  letter-spacing: 0.05em !important;
  font-size: 14px !important;
}

.sidebar-svg-icon {
  display: none !important;
}

.sidebar-item {
  color: rgba(0, 0, 0, 0.85) !important;
  font-family: "freight-sans-pro" !important;
  font-size: 16px !important;
  font-weight: 500;
  padding-top: 8px !important;
  padding-bottom: 8px !important;

  //sidebar-selected//
  &.selected {
    background-color: #009EA1 !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }
}

input {
  border: 2px solid #B1C2CE !important;
  border-radius: 6px !important;
  height: 40px;
  padding: 8px 20px 8px 32px !important;
  transition: border .3s ease, box-shadow .3s ease;
  font-family: "freight-sans-pro" !important;
  font-weight: 500;
  font-size: 14px !important;
  color: rgba(0, 0, 0, .8);

  &:focus{
   border: 2px solid #007B7D !important;
   outline: none;
   box-shadow: 0 0 0 2px #93ECEC !important;
  }

  &:hover{
   box-shadow: 0px 0px 0px 6px #E8EFF3;
  }
}

//search icon
input:empty + svg {
  color: #899CA9 !important;
  opacity:inherit !important;
  position: absolute !important;
  left: 12px !important;
  height: 16px !important;
  width: 16px !important;
}

//search icon
input:focus + svg {
  color: #007B7D !important;
  opacity:inherit !important;
  position: absolute !important;
  left: 12px !important;
  height: 16px !important;
  width: 16px !important;
}

//close icon
.simplebar-content {
  button[type="reset"] {
    right: 12px !important;
    background: none !important;
  }

  //filter result text//
  form ~ div {
    color: #007B7D !important;
    font-family: "freight-sans-pro" !important;
    font-size: 16px !important;

    .simplebar-content__text {
      font-weight: 600 !important;
    }
  }
}

/*
Sidebar "more" actions
The classes below didn't have a defined name.
*/

//button
.sidebar__more-actions-button {
  color: #007B7D !important;
  box-shadow: #007B7D 0 0 0 1px inset !important;
}

//dropdown chevron
.sidebar__dropdown-chevron {
  border-bottom-color: #009EA1 !important;
}

//dropdown container
.sidebar__dropdown-container {
  max-height: none !important;
  border-radius: 4px !important;
  padding: 8px 0;
  background: #009EA1;
}

//dropdown item
.sidebar__dropdown-item {
  background: #009EA1 !important;
  font-family: "freight-sans-pro" !important;
  font-size: 14px !important;
  color: rgba(0, 0, 0, .8) !important;
}

//dropdown item text
.sidebar__dropdown-text {
  font-weight: 500 !important;
  color: white !important;
}

//dropdown item icon
.sidebar__dropdown-item-icon {
  color: white !important;
}

//dropdown item shortcut
.sidebar__dropdown-item-shortcut {
  color: white !important;
}
