@mixin icon-position($left, $top) {
  -webkit-mask-position: left $icon-size*-$left top $icon-size*-$top;
  mask-position: left $icon-size*-$left top $icon-size*-$top;
}

@mixin btn-shadow($type, $color1, $color2 : none) {
  @if $type != "hover" and $type != "focus" and $type != "focus-hover" {
    @error "Property #{$type} must be either hover, focus or focus-hover.";
  }
  @if $type == "hover" {
    box-shadow: 0 0 0 6px $color1;
  }
  @else if $type == "focus" {
    box-shadow: 0 0 0 2px $color1;
  }
  @else if $type == "focus-hover" {
    box-shadow: 0 0 0 2px $color1, 0 0 0 6px $color2;
  }
}