@import url("https://use.typekit.net/boj8rad.css");
@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:300,400,500,700&display=swap');

#root {
  > div {
    > .css-sqdry3 {
      top: 0 !important;
      right: 0 !important;
      width: auto !important;
      height: 100vh !important;
    }
  }
}
//sidebar//
.sidebar-subheading {
  color: #007B7D !important;
  font-family: "freight-sans-pro" !important;
  font-weight: 700 !important;
}

.sidebar-svg-icon {
  display: none !important;
}

.sidebar-item{
  color: rgba(0, 0, 0, 0.8) !important;
  font-family: "freight-sans-pro" !important;
  font-size: 16px !important;
}
