$btn-radius: $radius-02; //4px
$btn-font-size: 16px;
$btn-line-heigt: 14px;

//Button colors from theme.
$btn-main-color: map-get($button-theme, "60");
$btn-border-hover: map-get($button-theme, "80");
$btn-shadow-hover: map-get($button-theme, "10");
$btn-bg-active: map-get($button-theme, "70");
$btn-border-active: map-get($button-theme, "40");
$btn-border-focus: map-get($button-theme, "70");
$btn-shadow-focus: map-get($button-theme, "30");
$btn-bg-focus-active: map-get($button-theme, "80");

$ghost-color-active: map-get($button-theme, "70");
$ghost-color-focus-active: map-get($button-theme, "80");

$text-bg-hover: map-get($button-theme, "10");
$text-color-active: map-get($button-theme, "70");
$text-bg-active: map-get($button-theme, "20");

$link-color: map-get($button-theme, "30");
$link-bg: map-get($button-theme, "10");

.btn {
  font-size: $btn-font-size;
  line-height: $btn-line-heigt;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  border-radius: $btn-radius;
  text-decoration: none;
  transition: all $duration-base;
  cursor: pointer;
  outline: none;
  font-family: $font-primary;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  border: 2px solid;

  &:hover,
  &:focus,
  &:active,
  &:focus:hover,
  &:focus:active,
  &:disabled {
    outline: none;
  }
  
  &:active {
    transform: translateY(2px);
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

// Button elements
.btn__icon {
  margin-left: -4px;
  margin-right: 4px;
}

// Button sizes modifiers
.btn--normal {
  height: 40px;
  padding: 0 16px;
}

.btn--small {
  height: 32px;
  padding: 0 16px;
}

.btn--large {
  height: 48px;
  padding: 0 16px;
}

// Button type modifiers
.btn--default {
  background-color: $btn-main-color;
  color: white;
  border-color: $btn-main-color;
  
  &:hover {
    @include btn-shadow(hover, $btn-shadow-hover);
    border-color: $btn-border-hover;
  }
  
  &:focus {
    @include btn-shadow(focus, $btn-shadow-focus);
    border-color: $btn-border-focus;
  }

  &:active {
    background-color: $btn-bg-active;
    border-color: $btn-border-active;
  }
  
  &:focus:hover {
    @include btn-shadow(focus-hover, $btn-shadow-focus, $btn-shadow-hover);
    border-color: $btn-border-hover;
  }
  
  &:focus:active {
    @include btn-shadow(focus, $btn-shadow-focus);
    background-color: $btn-bg-focus-active;
    border-color: $btn-border-active;
  }
  
  &:disabled {
    background-color: $mineral-20;
    border-color: $mineral-20;
    color: $mineral-40;

    //Needs to access the lab_icon to chage its color.
    .btn__icon .lab-icon {
      background-color: $mineral-40;
    }
  }
}

.btn--ghost {
  background-color: transparent;
  color: $btn-main-color;

  //Needs to access the lab_icon to chage its color.
  .btn__icon .lab-icon {
    background-color: $btn-main-color;
  }

  &:hover {
    @include btn-shadow(hover, $btn-shadow-hover);
    border-color: $btn-border-hover;
  }
  
  &:focus {
    @include btn-shadow(focus, $btn-shadow-focus);
    border-color: $btn-border-focus;
  }

  &:active {
    color: $ghost-color-active;
    border-color: $btn-border-active;
  }
  
  &:focus:hover {
    @include btn-shadow(focus-hover, $btn-shadow-focus, $btn-shadow-hover);
    border-color: $btn-border-hover;
  }
  
  &:focus:active {
    @include btn-shadow(focus, $btn-shadow-focus);
    color: $ghost-color-focus-active;
    border-color: $btn-border-active;
  }
  
  &:disabled {
    border-color: $mineral-20;
    color: $mineral-30;

    //Needs to access the lab_icon to chage its color.
    .btn__icon .lab-icon {
      background-color: $mineral-30;
    }
  }
}

.btn--text {
  background-color: transparent;
  color: $btn-main-color;
  border-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1%;

  //Needs to access the lab_icon to chage its color.
  .btn__icon .lab-icon {
    background-color: $btn-main-color;
  }
  
  &:hover {
    background-color: $text-bg-hover;
  }
  
  &:focus {
    @include btn-shadow(focus, $btn-shadow-focus);
  }

  &:active {
    background-color: $text-bg-active;
    color: $text-color-active;
  }
  
  &:focus:hover {
    @include btn-shadow(focus, $btn-shadow-focus);
    background-color: $text-bg-hover;
  }
  
  &:focus:active {
    @include btn-shadow(focus, $btn-shadow-focus);
    background-color: $text-bg-active;
    color: $text-color-active;
  }
  
  &:disabled {
    color: $mineral-30;

    //Needs to access the lab_icon to chage its color.
    .btn__icon .lab-icon {
      background-color: $mineral-30;
    }
  }
}

.btn--destructive {
  background-color: $red-60;
  border-color: $red-60;
  color: $white;
  
  &:hover {
    @include btn-shadow(hover, $red-20);
    background-color: $red-60;
    border-color: $red-60;
  }
  
  &:focus {
    @include btn-shadow(focus, $red-60);
    background-color: $red-60;
    border-color: $white;
  }

  &:active {
    background: mix($red-60, black, 50%);
  }
  
  &:focus:hover {
    @include btn-shadow(focus-hover, $red-60, $red-20);
    border-color: $white;
    background-color: $red-60;
  }
  
  &:focus:active {
    background: mix($red-60, black, 50%);
    border-color: $white;
  }
}

.btn--warning {
  background-color: $yellow-60;
  border-color: $yellow-60;
  color: $black-75;

  //Needs to access the lab_icon to chage its color.
  .btn__icon .lab-icon {
    background-color: $black-75;
  }
  
  &:hover {
    @include btn-shadow(hover, $yellow-20);
    background-color: $yellow-60;
    border-color: $yellow-60;
  }
  
  &:focus {
    @include btn-shadow(focus, $yellow-60);
    border-color: $white;
    background-color: $yellow-60;
  }

  &:active {
    color: $white;
    background: mix($yellow-60, black, 50%);
  }
  
   &:focus:hover {
    @include btn-shadow(focus-hover, $yellow-60, $yellow-20);
    border-color: $white;
    background-color: $yellow-60;
  }
  
   &:focus:active {
    background: mix($yellow-60, black, 50%);
    border-color: $white;
  }
}

// Button exceptions
.btn--dark {
  background-color: $mineral-90;
  color: $white;
  border-color: $mineral-90;
  
  &:hover {
    @include btn-shadow(hover, $black-20);
    border-color: $mineral-90;
    background-color: $mineral-90;
  }
  
  &:focus {
    @include btn-shadow(focus, $mineral-90);
    background-color: $mineral-90;
    border-color: $white;
  }

  &:active {
    background-color: $black-50;
  }
  
   &:focus:hover {
    @include btn-shadow(focus-hover, $mineral-90, $black-20);
    background-color: $mineral-90;
    border-color: $white;
  }
  
   &:focus:active {
    @include btn-shadow(focus, $mineral-90);
    background-color: $black-50;
    border-color: $white;
  }
}

.btn--dark-warning {
  background-color: $mineral-90;
  color: $yellow-60;
  border-color: $mineral-90;

  //Needs to access the lab_icon to chage its color.
  .btn__icon .lab-icon {
    background-color: $yellow-60;
  }
  
  &:hover {
    @include btn-shadow(hover, $black-20);
    background-color: $mineral-90;
    border-color: $mineral-90;
  }
  
  &:focus {
    @include btn-shadow(focus, $mineral-90);
    background-color: $mineral-90;
    border-color: $yellow-60;
  }

  &:active {
    background-color: $black-50;
    border-color: $mineral-90;
  }
  
   &:focus:hover {
    @include btn-shadow(focus-hover, $mineral-90, $black-20);
    background-color: $mineral-90;
    border-color: $yellow-60;
  }
  
   &:focus:active {
    @include btn-shadow(focus, $mineral-90);
    background-color: $black-50;
    border-color: $yellow-60;
  }
}

.btn--light {
  background-color: $white;
  color: $mineral-90;
  border-color: $white;

  //Needs to access the lab_icon to chage its color.
  .btn__icon .lab-icon {
    background-color: $mineral-90
  }
  
  &:hover {
    @include btn-shadow(hover, $white-20);
    background-color: $white;
    border-color: $white;
  }
  
  &:focus {
    @include btn-shadow(focus, $white);
    background-color: $white;
    border-color: $mineral-90;
  }

  &:active {
    background-color: $white-50;
    border-color: $white;
  }
  
   &:focus:hover {
    @include btn-shadow(focus-hover, $white, $white-20);
    background-color: $white;
    border-color: $black-75;
  }
  
   &:focus:active {
    @include btn-shadow(focus, $white);
    background-color: $white-50;
    border-color: $mineral-90;
  }
}

.btn--light-destructive {
  background-color: $white;
  color: $red-60;
  border-color: $white;

  //Needs to access the lab_icon to chage its color.
  .btn__icon .lab-icon {
    background-color: $red-60;
  }
  
  &:hover {
    @include btn-shadow(hover, $white-20);
    background-color: $white;
    border-color: $white;
  }
  
  &:focus {
    @include btn-shadow(focus, $white);
    background-color: $white;
    border-color: $red-60;
  }

  &:active {
    background-color: $white-50;
    border-color: $white;
  }
  
   &:focus:hover {
    @include btn-shadow(focus-hover, $white, $white-20);
    background-color: $white;
    border-color: $red-60;
  }
  
   &:focus:active {
    @include btn-shadow(focus, $white);
    background-color: $white-50;
    border-color: $mineral-90;
  }
}

.btn--light-confirmation {
  background-color: $white;
  color: $green-60;
  border-color: $white;

  //Needs to access the lab_icon to chage its color.
  .btn__icon .lab-icon {
    background-color: $green-60;
  }

  &:hover {
    @include btn-shadow(hover, $white-20);
    background-color: $white;
    border-color: $white;
  }
  
  &:focus {
    @include btn-shadow(focus, $white);
    background-color: $white;
    border-color: $green-60;
  }

  &:active {
    background-color: $white-50;
    border-color: $white;
  }
  
   &:focus:hover {
    @include btn-shadow(focus-hover, $white, $white-20);
    background-color: $white;
    border-color: $green-60;
  }
  
   &:focus:active {
    @include btn-shadow(focus, $white);
    background-color: $white-50;
    border-color: $mineral-90;
  }
}

.btn--ghost-light {
  background-color: transparent;
  color: $white;
  border-color: $white;

  //Needs to access the lab_icon to chage its color.
  .btn__icon .lab-icon {
    background-color: $white;
  }

  &:hover {
    @include btn-shadow(hover, $white-20);
    color: $white;
    border-color: $white;
  }
  
  &:focus {
    @include btn-shadow(focus, $white);
    color: $white;
    border-color: $white-35;
  }

  &:active {
    background-color: $white-10;
    color: $white;
    border-color: $white-50;
  }
  
   &:focus:hover {
    @include btn-shadow(focus-hover, $white, $white-20);
    color: $white;
    border-color: $white-35;
  }
  
   &:focus:active {
    @include btn-shadow(focus, $white);
    color: $white;
    background-color: $white-10;
    border-color: $white-35;
  }
}

.btn--ghost-dark {
  background-color: transparent;
  color: $mineral-90;
  border-color: $mineral-90;

  //Needs to access the lab_icon to chage its color.
  .btn__icon .lab-icon {
    background-color: $mineral-90;
  }

  &:hover {
    @include btn-shadow(hover, $black-20);
    color: $mineral-90;
    border-color: $mineral-90;
  }
  
  &:focus {
    @include btn-shadow(focus, $mineral-90);
    border-color: $black-35;
    color: $mineral-90;
  }

  &:active {
    background-color: $black-10;
    border-color: $black-50;
    color: $mineral-90;
  }
  
   &:focus:hover {
    @include btn-shadow(focus-hover, $mineral-90, $black-20);
    border-color: $black-35;
    color: $mineral-90;
  }
  
   &:focus:active {
    @include btn-shadow(focus, $mineral-90);
    background-color: $black-10;
    border-color: $black-50;
    color: $mineral-90;
  }
}

a {
  position: relative;
  z-index: 1;
  display: inline-block; 
  padding: 0 2px;
  margin: 0 1px;
  font-family: $font-primary;
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;
  text-decoration: none;
  color: $mineral-80;
  vertical-align: top;
  transition: all $duration-base;
  cursor: pointer;
  outline: none;

  &::before {
    content: " ";
    z-index: -1;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;

    background: $link-color;
    border-radius: 4px;

    transition: all 0.2s;
  }

  &:hover::before {
    bottom: 0px;
    height: 100%;
  }

  &:focus::before {
    @include btn-shadow(focus, $link-color);
    bottom: 0;
    height: 100%;
    background: transparent;
  }

  &:focus:hover::before {
    @include btn-shadow(focus, $link-color);
    bottom: 0;
    height: 100%;
    background: $link-bg;
  }
}