@use 'sass:map';

$input-types: 'default', 'required', 'prefix', 'prefix-required';

$border-01: 2px solid;
$hover-shadow: 0 0 0 6px;
$focus-shadow: 0 0 0 2px;

$radius-01: 2px;
$radius-02: 4px;

$input-internal-spacing: 2px;


.input__wrapper {
  position: relative;
  width:fit-content;
  margin-top: $spacing-03;
}

//Input base
input {
  display: inline-block;
  min-width: 164px;
  height: 40px;
  padding: 0;
  margin: 0;
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 16px;
  color: $black-75;
  text-indent: $spacing-03;
  text-overflow: clip;
  border: $border-01 $mineral-40;
  border-radius: $radius-02;
  outline: none;
  transition: border $duration-base ease, box-shadow $duration-base ease;

  &::placeholder {
    color: $black-50;
  }

  &:hover {
    box-shadow: 0 0 0 6px $mineral-10;
  }

  &:focus,
  &:not(:placeholder-shown):focus {
    border: 2px solid $teal-70;
    outline: none;
    box-shadow: 0 0 0 2px $teal-30;
  }

  &:not(:placeholder-shown):hover:focus {
    border: 2px solid $teal-80;
    box-shadow: 0 0 0 2px $teal-30, 0 0 0 6px $teal-10;
  }

  &:not(:placeholder-shown) {
    border-color: $teal-40;
  }

  &:not(:placeholder-shown):hover{
    box-shadow: 0 0 0 6px $teal-10;
  }

  ~ .input__icon {
    position: absolute;
    top: $spacing-02;
    right: $spacing-02;
    z-index: 1;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../static/icons/eye.svg");
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }
}


//disabled
input:disabled, input:disabled:hover{
  color: $black-75;
  background-color: $mineral-10;
  border: $border-01 $mineral-30;
  box-shadow: none;
}

//invalid
input:invalid {
  color: $red-60;
  background-color: $coral-10;
  border-color: $red-60;

  &:focus,
  &:not(:placeholder-shown):focus {
    border: $border-01 $red-60;
    outline: none;
    box-shadow: 0 0 0 2px $coral-20;
  }

  &:not(:placeholder-shown):hover:focus {
    border: $border-01 $red-60;
    box-shadow: 0 0 0 2px $coral-20, 0 0 0 6px $coral-10;
  }

  &:not(:placeholder-shown):hover {
    box-shadow: 0 0 0 6px $coral-10;
  }
}

  .input__message {
    padding: 2px 0 $spacing-03 $spacing-03;
    font-family: $font-secondary;
    font-size: 12px;
    opacity: 0;
    transition: opacity $duration-base ease;
    color: $red-60;
    font-weight: 500;

    &--error {
      color: $red-60;
    }
  }

  .label-error {
    color: $red-60;
  }

  input:not(:placeholder-shown):invalid~label{
    top: -$spacing-03;
    width: auto;
    padding: 2px;
    font-size: 12px;
    color: $red-60;
    background: rgb(255,255,255),;
    background: linear-gradient(360deg, rgba(255,255,255,0) 28%, rgba(255,255,255,1) 28%);
  }

  input:not(:placeholder-shown):invalid~.input__error-message{
  opacity: 1;
}

//Label
label {
  position: absolute;
  top: $spacing-02;
  left: $spacing-03;
  z-index: 1;
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 16px;
  color: $mineral-30;
  cursor: text;
  transition: $duration-base all;
}  

input:not(:placeholder-shown)~label,
input:focus~label {
  top: -$spacing-03;
  padding: 2px;
  width: auto;
  font-size: 12px;
  color: $teal-60;
  background-color: $white;
}  

//Prefix
input.input-prefix {
  padding-left: $spacing-08;

  &:not(:placeholder-shown)~label,
  &:focus~label {
    background: rgb(255,255,255),;
    background: linear-gradient(360deg, rgba(255,255,255,0) 28%, rgba(255,255,255,1) 28%);
  }  

  + .prefix {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    z-index: 1;
    display: inline-block;
    height: 36px;
    padding: 0 $spacing-03;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    pointer-events: none;
    background-color: $mineral-10;
    border-radius: $radius-01;
  }  

  &:focus {
    + .prefix {
      background-color: $teal-10;
    }  
  }  

  &:not(:placeholder-shown){
    + .prefix{
      background-color: $teal-10;
    }  
  }  
  &:disabled{
    + .prefix{
      background-color: $mineral-20;
      color: $black-50;
    }  
  }  

  &:invalid {
    + .prefix {
      background-color: $coral-20;
      color: $red-60;
    }  
  }  
}  

.prefix
  +label{
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    top: $spacing-02;
    padding-left: $spacing-08;
    color: $mineral-40;
    transition: $duration-base all;
    cursor: text;
    z-index: 1;
  }  

//Sufix  
input.input-suffix {
  padding-right: $spacing-08;

  + .suffix {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    display: inline-block;
    height: 36px;
    padding: 0 $spacing-02;
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    pointer-events: none;
    background-color: $mineral-10;
    border-radius: $radius-01;
  }  

  &:focus {
    + .suffix {
      background-color: $teal-10;
    }  
  }  

  &:not(:placeholder-shown){
    + .suffix{
      background-color: $teal-10;
    }  
  }  

  &:disabled{
    + .suffix{
      color: $black-50;
      background-color: $mineral-20;
    }  
  }  

  &:invalid{
    + .suffix{
      color: $red-60;
      background-color: $coral-20;
    }  
  }  
}  

//Required
input {
  ~ .required {
    position: absolute;
    top: -$spacing-01;
    right: -$spacing-01;
    z-index: 1;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: $mineral-40;
    background-image: url("../static/icons/required-icon.svg");
    border-radius: 24px;
  }  

  &:not(:placeholder-shown):invalid,
  &:not(:placeholder-shown):invalid:hover,
  &:not(:placeholder-shown):invalid:focus,
  &:not(:placeholder-shown):invalid:focus:hover {
    ~ .required {
      background-color: $red-60;
    }  
  }  

  &:focus, &:not(:placeholder-shown):focus {
    ~ .required {
      background-color: $teal-70;
    }  
  }  

  &:not(:placeholder-shown):focus:hover {
    ~ .required {
      background-color: $teal-80;
    }  
  }  

  &:not(:placeholder-shown){
    ~ .required{
      background-color: $teal-40;
    }  
  }  

  &:placeholder-shown {
    + .required-message {
      opacity:0;
    }  
  }  

  &:invalid {
    + .required-message {
      color: $red-60;
    }  
  }  
}  

.required-message {
  padding: 2px 0 $spacing-03 $spacing-03;
  font-size: 12px;
  color: $teal-60;
  font-family: $font-secondary;
  font-weight: 500;
  opacity: 1;
}  
// Input style
.input-colors {
  width: 140px;
  height: 36px; 
  padding: $spacing-01;
  display: inline-flex;
  font-family: $font-secondary;
  color: $white;
  align-items: center;
  justify-content: center;
  
  &.base {
    background-color: $purple-60;
  }
  
  &.hover {
    color: $black-75;
    background-color: $purple-10;
  }

  &.hover-border{
    background-color: $purple-70;
  }

  &.focus{
    background-color: $purple-30;
  }

  &.focus-border{
    background-color: $purple-80;
  }

  &.prefix{
    color: $black-75;
    background-color: $purple-10;
  }
}