@use 'sass:map';

/* For being able to do the input animation in CSS, 
we used the placeholder only as a indicator of the field status, and it 
must remain always blank.
For the animation to work, we use the label as a placeholder, and
change it position depending on the pseudo-classe state.
We also use the :placeholder-shown pseudo-class to help to make a more
complex animation using only this style-sheet.

`:placeholder-shown` means placeholder is showing, so input is EMPTY.
`:not(:placeholder-shown)` means placeholder is NOT showing, so input is FILLED.
*/

$border-01: 2px solid;
$hover-shadow: 0 0 0 6px;
$focus-shadow: 0 0 0 2px;

$radius-01: 2px;
$radius-02: 4px;

$input-internal-spacing: 2px;

//Theme

$input-border-disabled: $mineral-30;
$input-border-unfilled-idle: $mineral-40;
$input-border-filled-idle: map-get($input-theme, "40");
$input-border-filled-focus: map-get($input-theme, "70");
$input-border-filled-hover-focus: map-get($input-theme, "80");
$input-background-prefix-filled: map-get($input-theme, "10");

$input-shadow-unfilled-hover: $mineral-10;
$input-shadow-filled-hover: map-get($input-theme, "10");
$input-shadow-filled-focus: map-get($input-theme, "30");


// Wrapper div around input element. All inputs must have it.
.lab-input {
  position: relative;
  width:fit-content;
  width: -moz-fit-content;
  margin-top: $spacing-03;
}

// Input element
.lab-input__field {
  box-sizing: border-box;
  display: inline-block;
  min-width: 160px;
  height: 40px;
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 16px;
  color: $black-75;
  text-indent: $spacing-03;
  text-overflow: clip;
  border: $border-01 $input-border-unfilled-idle;
  border-radius: $radius-02;
  outline: none;
  transition: border $duration-base ease, box-shadow $duration-base ease;

  &::placeholder {
    color: $black-50;
  }

  &:hover {
    @include border-shadow(hover, $input-shadow-unfilled-hover);
  }
  
  &:focus,
  &:not(:placeholder-shown):focus {
    border: 2px solid $input-border-filled-focus;
    outline: none;
    @include border-shadow(focus, $input-shadow-filled-focus);
  }
  
  &:not(:placeholder-shown):hover:focus {
    border: 2px solid $input-border-filled-hover-focus;
    @include border-shadow(focus-hover, $input-shadow-filled-focus, $input-shadow-filled-hover);
  }
  
  &:not(:placeholder-shown) {
    border-color: $input-border-filled-idle;
  }
  
  &:not(:placeholder-shown):hover {
    box-shadow: 0 0 0 6px $teal-10;
    @include border-shadow(hover, $input-shadow-filled-hover);
  }

  &:disabled, 
  &:disabled:hover {
    color: $black-75;
    background-color: $mineral-10;
    border: $border-01 $input-border-disabled;
    box-shadow: none;
  }
  
  // Input element with prefix
  &--prefixed {
    padding-left: $spacing-08;
  }  
  
  // Input element with suffix
  &--suffixed {
    padding-right: $spacing-08; 
  }  
}

// Input element invalid.
.lab-input__field:invalid {
  color: $red-60;
  background-color: $coral-10;
  border-color: $red-60;
  
  &:focus,
  &:not(:placeholder-shown):focus {
    border: $border-01 $red-60;
    outline: none;
    box-shadow: 0 0 0 2px $coral-20;
  }
  
  &:not(:placeholder-shown):hover:focus {
    border: $border-01 $red-60;
    box-shadow: 0 0 0 2px $coral-20, 0 0 0 6px $coral-10;
  }
  
  &:not(:placeholder-shown):hover {
    box-shadow: 0 0 0 6px $coral-10;
  }
}

// Label
.lab-input__label {
  position: absolute;
  top: $spacing-02;
  left: $spacing-03;
  z-index: 1;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 16px;
  color: $black-75;
  cursor: text;
  transition: $duration-base all;
  
  .lab-input__field:not(:placeholder-shown):invalid~ & {
    top: -$spacing-03;
    width: auto;
    padding: 2px;
    font-size: 12px;
    color: $red-60;
    background: rgb(255,255,255),;
    background: linear-gradient(360deg, rgba(255,255,255,0) 32%, rgba(255,255,255,1) 32%);
  }
  
  .lab-input__field:not(:placeholder-shown) ~ &,
  .lab-input__field:focus ~ & {
    top: -$spacing-03;
    padding: 2px;
    width: auto;
    font-size: 12px;
    color: $teal-60;
    background-color: $white;
  }  
  
  .lab-input__field--prefixed:not(:placeholder-shown) ~ &,
  .lab-input__field--prefixed:focus ~ & {
    background: rgb(255,255,255),;
    background: linear-gradient(360deg, rgba(255,255,255,0) 32%, rgba(255,255,255,1) 32%);
  }  

  .lab-input__prefix + & {
    padding-left: $spacing-08;
  }
}

// Icon that goes inside the field
.lab-input__icon {
  position: absolute;
  top: $spacing-02;
  right: $spacing-02;
  z-index: 1;
  width: 24px;
  height: 24px;
  padding: 0px;
  border: none;
  background-color: transparent;
}

// Required icon
// The icon color change according to it's input state.
.lab-input__required-icon {
  position: absolute;
  top: -$spacing-02;
  right: -$spacing-02;
  z-index: 1;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: $mineral-40;
  background-image: url("../static/icons/required-icon.svg");
  border-radius: 24px;

  // Input not filled focused
  .lab-input__field:focus ~ & {
    background-color: $teal-70;
  }

  // Input filled idle
  .lab-input__field:not(:placeholder-shown) ~ & {
    background-color: $teal-40;
  }

  // Input filled invalid on all states
  .lab-input__field:not(:placeholder-shown):invalid ~ &,
  .lab-input__field:not(:placeholder-shown):invalid:hover ~ &,
  .lab-input__field:not(:placeholder-shown):invalid:focus ~ &,
  .lab-input__field:not(:placeholder-shown):invalid:focus:hover ~ & {
    background-color: $red-60;
  }

  // Input filled focus
  .lab-input__field:not(:placeholder-shown):focus ~ & {
    background-color: $teal-70;
  }

  // Input filled focus hover
  .lab-input__field:not(:placeholder-shown):focus:hover ~ & {
    background-color: $teal-80;
  }
}

// Input message
.lab-input__message {
  padding: 2px 0 $spacing-03 $spacing-03;
  font-family: $font-primary;
  font-size: 12px;
  opacity: 0; //Hides message by default
  transition: opacity $duration-base ease;
  font-weight: 500;
  
  &--error {
    color: $red-60;
    
    .lab-input__field:not(:placeholder-shown):invalid ~ & {
      opacity: 1;
    }
  }
  
  &--required {
    color: $teal-60;
    opacity: 1; //Show required message

    .lab-input__field:placeholder-shown + & {
      opacity: 0; //Hide required message when input is empty
    }

    .lab-input__field:focus ~ & {
      opacity: 1;
    }
  }
}

// Prefix
.lab-input__prefix {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  z-index: 1;
  display: inline-block;
  height: 36px;
  padding: 0 $spacing-03;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  pointer-events: none;
  background-color: $mineral-10;
  border-radius: $radius-01;
  
  .lab-input__field--prefixed:focus + &  {
    background-color: $input-background-prefix-filled;
  }
  
  .lab-input__field--prefixed:not(:placeholder-shown) + & {
    background-color: $input-background-prefix-filled;
  }

  .lab-input__field--prefixed:disabled + & {
    background-color: $mineral-20;
    color: $black-50;
  }

  .lab-input__field--prefixed:invalid + & {
    background-color: $coral-20;
    color: $red-60;
  }
}

// Sufix
.lab-input__suffix {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  display: inline-block;
  height: 36px;
  padding: 0 $spacing-02;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  pointer-events: none;
  background-color: $mineral-10;
  border-radius: $radius-01;

  .lab-input__field--suffixed:focus + &  {
    background-color: $input-background-prefix-filled;
  }  
  
  .lab-input__field--suffixed:not(:placeholder-shown) + & {
    background-color: $input-background-prefix-filled;
  }  
  
  .lab-input__field--suffixed:disabled + & {
    color: $black-50;
    background-color: $mineral-20;  
  }  
  
  .lab-input__field--suffixed:invalid + & {
    color: $red-60;
    background-color: $coral-20; 
  } 
}
