$icon-size: 1.5rem !default;

.lab-badge {
  &.teal {
    background-image: url('~labsystem/static/icons/badges-teal.svg');
  }
  &.mineral70 {
    background-image: url('~labsystem/static/icons/badges-mineral70.svg');
  }
  &.mineral20 {
    background-image: url('~labsystem/static/icons/badges-disabled.svg');
  }
  background-repeat: no-repeat;

  height: $icon-size;
  width: $icon-size;
  font-size: $icon-size;
  line-height: 1;
  display: inline-block;

  &.harvest { background-position: left 0 top 0; }
  &.star { background-position: left 0 top $icon-size*-1; }
  &.ponto { background-position: left $icon-size*-1 top 0; }
  &.floating-add { background-position: left $icon-size*-1 top $icon-size*-1; }
  &.meta { background-position: left $icon-size*-2 top 0; }

}
