@use 'sass:map';

// Light
$item-focus-color: map-get($narrow-sidebar-theme, "30");
$item-pressed-color: map-get($narrow-sidebar-theme, "20");
$item-hover-color: map-get($narrow-sidebar-theme, "10");
$item-active-color: map-get($narrow-sidebar-theme, "70");




.lab-narrow-sidebar {
  width: 128px;
  height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-color: white;
  border: 2px solid $mineral-20;
  box-sizing: border-box;
  border-top-right-radius: $radius-default;
}

//Header
.lab-narrow-sidebar__header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  flex-wrap: wrap;
  flex-grow: 0;

  .with-scroll {
    box-shadow: inset 0px -2px 2px -1px $mineral-10;
  }
}

.lab-narrow-sidebar__logo {
  display: block;
  width: 52px;
  height: 44px;
  background-color: $mineral-20;
}

//Body
.lab-narrow-sidebar__body {
  display: flex;
  align-self: flex-start;
  width: 100%;
  flex-direction: column;
  padding: 4px 0;
  flex-grow: 1;
  box-shadow: inset 0px -2px 2px -1px $black-20;
  overflow: auto;
}

.lab-narrow-sidebar__item {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  font-family: $font-primary;
  font-weight: $weight-medium;
  font-size: $font-size-1;
  text-decoration: none;
  color: $mineral-60;
  padding: 16px 0px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;

    &:before {
      content: " ";
      display: block;
      border: 2px solid $item-focus-color;
      position: absolute;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      border-radius: 8px;
    }
  }

  &:hover {
    background-color:$item-hover-color;
  } 

  &:active {
    background-color:$item-focus-color;
  }

  &--active {
    background-color:$item-pressed-color;
    font-weight: $weight-semibold;
    color: $item-active-color;

    .lab-icon--nome-da-classe {
      background-color: $item-active-color;
    }
  }

}

//Footer
.lab-narrow-sidebar__footer {
  display: flex;
  width: 100%;
  margin: 24px 0 24px;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  
  &__avatar {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    margin-bottom: 12px;
    background-color: $mineral-20;
  }
  
  &__button {
    display: flex;
    width: 100px;
    box-sizing: border-box;
    align-items: center;
    padding: 4px 8px;
    margin-bottom: 4px;
    text-align: center;
    font-family: $font-primary;
    font-weight: $weight-medium;
    font-size: $font-size-1;
    color: $mineral-60;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 4px;

    .lab-icon--nome-da-classe {
      background-color: $mineral-60;
      margin-right: 4px;
    }
  }

  &__button:focus {
    border: 2px solid $item-focus-color;
    outline: none;
  }

  &__button:hover {
    background-color: $item-hover-color;
  }

  &__button:active {
    background-color: $item-focus-color;
    
  }

  &__button--active {
    background-color: $item-pressed-color;
    color: $item-active-color;
    font-weight: $weight-semibold;

    .lab-icon--nome-da-classe {
      background-color: $item-active-color;
    }

  }

}


// Vivid Skin
.lab-narrow-sidebar--vivid{
  border: none;
  .lab-narrow-sidebar__item {
    color: $white;

    &:focus {
      &:before {
        border-color: $white-50;
      }
    }
  
    &:hover {
      background-color:$white-20;
    } 
  
    &:active {
      background-color:$white-75;
    }
  
    &--active {
      background-color:$white;
    }

    .lab-icon--nome-da-classe {
      background-color: $white;
    }
  }

  .lab-narrow-sidebar__footer__button {
    color: $white;

    .lab-icon--nome-da-classe {
      background-color: $white;
    }

    &:focus {
      border-color: $white-50;
    }
  
    &:hover {
      background-color: $white-20;
    }
  
    &:active {
      background-color: $white-75;      
    }
  
    .lab-narrow-sidebar__footer__button--active {
      background-color: $white;
    }
  }
  
}

// Vivid narrow sidebar mixin

@mixin narrow-sidebar-skin-vivid($color) {
  background: $color;

  .lab-narrow-sidebar__item--active,
  .lab-narrow-sidebar__item:active {
    color: $color; 

    &:focus {
      &:before {
        border-color: $color;
      }
    }

    .lab-icon--nome-da-classe {
      background-color: $color;
    }
  }

  .lab-narrow-sidebar__footer__button--active,
  .lab-narrow-sidebar__footer__button:active  {
    color: $color; 
    
    .lab-icon--nome-da-classe {
      background-color: $color;
    }    
  }
}

/*
* This will generate the classes:
* `.lab-narrow-sidebar--vivid-coral,
* `.lab-narrow-sidebar--vivid-teal,
* `.lab-narrow-sidebar--vivid-purple,
* `.lab-narrow-sidebar--vivid-mineral,
*/
@each $name, $palette in $sidebar-colors {
  .lab-narrow-sidebar--vivid--#{$name} {
     @if $name == "mineral" {
        @include narrow-sidebar-skin-vivid(map-get($palette, "90"));
     } @else {
        @include narrow-sidebar-skin-vivid(map-get($palette, "60")); 
     }
  }
}

