
$search-button-idle-filled: map-get($search-theme, "60");
$search-button-active-filled: map-get($search-theme, "70");
$search-button-focus: map-get($search-theme, "70");
$search-button-hover: map-get($search-theme, "10");
$search-button-focus-hover: map-get($search-theme, "80");

$search-button-idle: $mineral-40;
$search-button-disabled: $mineral-20;
$search-button-active: $mineral-70;
$search-separator-disabled: $mineral-10;

$remove-icon-focus: map-get($search-theme, "30");

//Standard Search

// Wrapper div around Standard search
.lab-search-input {
    position: relative;
    z-index: 99;
    width: 320px;
    margin-top: $spacing-03;
    box-sizing: border-box;
    border-radius: $radius-02;
    
    .lab-input__field {
        padding-right: $spacing-08;
    }
}


.search-button {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 36px;
    padding: 0px;
    background-color: $search-button-idle;
    border: none;
    outline: none;
    cursor: pointer;

    .lab-icon {
        margin-left:10px;
    }

    .lab-input__field:focus ~ &,
    .lab-input__field:not(:placeholder-shown):focus ~ & {
        background-color: $search-button-focus;
    }

    .lab-input__field:not(:placeholder-shown) ~ &,
    .lab-input__field:not(:placeholder-shown):hover ~ & {
        background-color: $search-button-idle-filled;
    }


    .lab-input__field:not(:placeholder-shown):focus:hover ~ & {
        background-color: $search-button-focus-hover;
    }

    .lab-input__field:not(:placeholder-shown)~ &:focus {
        background-color: $search-button-focus;
        border: 1px solid $search-button-hover;
        border-radius: $radius-02;
        transition-duration: 0.05s;
    }

    .lab-input__field:hover ~ &:disabled,
    &:disabled {
        background-color: $search-button-disabled;  
        border: none;
        pointer-events: none;        
    }

    &:active {
        background-color: $search-button-active;
        border: 1px solid $search-button-hover;
        border-radius: $radius-02;          
    }
}

.search-separator {
    position: absolute;
    top: 2px;
    right: 38px;
    bottom: 3px;
    width: 8px;
    height: 36px;
    background-color: $white;
    border-radius: $radius-02;

    .lab-input__field:disabled~ & {
        background-color:$search-separator-disabled;               
    }
}


// Inline 

// Wrapper div around Inline search
.lab-search-input--inline{
    position: relative;
    width: 320px;
    margin-top: $spacing-03;
    box-sizing: border-box;
    border-radius: $radius-02;

    .lab-input > .lab-input__field{
        padding-left: $spacing-09;
    } 

    .lab-input__icon:focus {
        @include border-shadow(focus, $input-shadow-filled-focus);
    }

    .lab-input__icon {
        cursor: pointer;
    }

    .lab-input__field:disabled ~ .lab-input__icon:focus {
        cursor: default;
        box-shadow: none;
    }
 }

.lab-icon--inline-search-lupe {
    position: absolute;
    top: 8px;
    left: $spacing-02;
    z-index: 1;
    width: 24px;
    height: 24px;
    border: none;

    &~ .lab-search-input__field {
        padding-left: $spacing-06;
        padding-right: $spacing-07;
    }

    .lab-input__field:focus ~ & {
        background-color: $search-button-focus;
    }

    .lab-input__field:not(:placeholder-shown) ~ & {
        background-color: $search-button-idle-filled;  
    }

    .lab-input__field:not(:placeholder-shown):focus ~ & {
        background-color: $search-button-focus;
    }

    .lab-input__field:not(:placeholder-shown):hover ~ & {
        background-color: $search-button-idle-filled;
    }

    .lab-input__field:not(:placeholder-shown):focus:hover ~ & {
        background-color: $search-button-focus-hover;
    }
}



