@use 'sass:map';

$alerts-font-size: 16px;
$alerts-line-height: 20px;

.lab-alert {
  display: inline-flex;
  padding: $spacing-03 $spacing-04;
  font-family: $font-primary;
  font-size: $alerts-font-size;
  line-height: $alerts-line-height;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  color: $mineral-70;
  border-radius: 12px;
  
  &__info {
    @extend .lab-alert;
    background-color: rgba($mineral-20, .2);
    border: 2px solid $mineral-40;
  }

  &__error {
    @extend .lab-alert;
    background-color: rgba($red-20, .2);
    border: 2px solid $red-60;
  }

  &__warn {
    @extend .lab-alert;
    background-color: rgba($yellow-20, .2);
    border: 2px solid $yellow-60;
  }
}