@use 'sass:map';

// Light
$item-focus-color: map-get($narrow-sidebar-theme, "30");
$item-pressed-color: map-get($narrow-sidebar-theme, "20");
$item-hover-color: map-get($narrow-sidebar-theme, "10");
$item-active-color: map-get($narrow-sidebar-theme, "70");
$narrow-trigger-bg: map-get($narrow-sidebar-theme, "60");



.lab-narrow-sidebar__trigger {
  position:fixed;
  right: 0;
  top:0;
  background-color: $narrow-trigger-bg;
  width: 100%;
  height: 76px;  
  border-bottom: 1px solid transparent;
}

.sidebar-trigger {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 12px 0 12px 12px;
  background-color:transparent;
  border: 2px solid transparent;
  border-radius: 4px;

  &:focus {
    border-color: $item-focus-color;
    outline: none;
  }

  &:active {
    background-color: $item-focus-color;
    .lab-icon {
      background-color: $item-active-color;
    }
  }

}

.lab-narrow-sidebar {
  width: 80%;
  display: flex;
  overflow-y: auto;
  overflow-x:hidden;
  height: 100vh;
  top: 0;
  position: fixed; //don't work with stories
  align-items: stretch;
  flex-direction: column;
  border-top-right-radius: $radius-default;
  background-color: white;
  transition: ease left .6s;
  
  &--on {
    left: 0;
  }
  
  &--off {
    left: -300px;
  }
}

.lab-narrow__overlay {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: $black-50;
  pointer-events: none;
  transition: ease all .2s;

  &--on {
    opacity: 1;
  }

  &--off {
    opacity: 0;
  }

  @include from($tablet) {
    display: none;
  }
}

.lab-narrow-sidebar__content {
  overflow-y:auto;
  height: 100%;
}

//Header
.lab-narrow-sidebar__header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 80%;
  padding: 16px 28px;
  flex-grow: 0;
  z-index: 1;
  border-top-right-radius: $radius-default;
  background-color: $white;
  box-sizing: border-box;
}

.lab-narrow-sidebar__logo {
  display: block;
  width: 52px;
  height: 44px;
  background-color: $mineral-20;
}


.lab-narrow-sidebar__avatar {
  display: flex;
  align-items: center;
  margin-left: 28px;
  margin-bottom: 12px;
  
  
  &-photo {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin: 12px 8px 12px 0;
    background-color: $mineral-20;
  }

  &-text{
    display: flex;
    flex-direction: column;
    color: $teal-70;
    font-weight: $weight-bold;
    font-family: $font-primary;
    font-size: $font-size-3; 
  }

  &-caption {
    display: inline-flex;
    font-family: $font-primary;
    color: $black-50;
    font-weight: $weight-medium;
  }
}




.lab-narrow-sidebar__collapse {
  background-color: transparent;
  display: block;
  box-sizing: border-box;
  color: $mineral-60;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 4px;

  &:focus {
    border-color: $item-focus-color;
    outline: none;
  }

  &:active {
    background-color: $item-focus-color;
  }
}

//Body
.lab-narrow-sidebar__body {
  display: flex;
  align-self: flex-start;
  width: 100%;
  flex-direction: column;
  padding: 4px 0;
  margin-top: 76px;
  
}


.lab-narrow-sidebar__item {
  position: relative;
  display: flex;
  font-family: $font-primary;
  font-weight: $weight-medium;
  font-size: $font-size-4;
  text-decoration: none;
  color: $mineral-60;
  cursor: pointer;
  border: none;
  background-color: transparent;
  //add for mobile//
  padding: 16px 20px;
  margin-left: 28px;
  margin-right: -8px;
  border-radius: 12px;

  .lab-icon--sidebar-item {
     //add for mobile//
    margin-right: 8px;
  }

  &:focus {
    outline: none;

    &:before {
      content: " ";
      display: block;
      border: 2px solid $item-focus-color;
      position: absolute;
      margin-right: 8px;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      border-radius: 8px;
    }
  }

  &:hover {
    background-color:$item-hover-color;
  } 

  &:active {
    background-color:$item-focus-color;
  }

  &--active {
    background-color:$item-pressed-color;
    font-weight: $weight-semibold;
    color: $item-active-color;

    .lab-icon--sidebar-item {
      background-color: $item-active-color;
    }
  }
}



//Footer
.lab-narrow-sidebar__footer {
  display: flex;
  width: 100%;
  margin: 24px 0 24px;
  flex-direction: column;
  // align-items: center;
  flex-grow: 0;
  
  
  &__button {
    display: flex;
    width: 60%;
    box-sizing: border-box;
    margin-bottom: 4px;
    text-align: center;
    font-family: $font-primary;
    font-weight: $weight-medium;
    color: $teal-60;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 4px;
    //Add for mobile
    padding: 4px 12px ;
    margin-left: 28px;
    border-radius: 8px;
    font-size: $font-size-4;

    .lab-icon--sidebar-item {
      background-color: $teal-60;
      margin-right: 8px;
    }
  }

  &__button:focus {
    border: 2px solid $item-focus-color;
    outline: none;
  }

  &__button:hover {
    background-color: $item-hover-color;
  }

  &__button:active {
    background-color: $item-focus-color;
    
  }

  &__button--active {
    background-color: $item-pressed-color;
    color: $item-active-color;
    font-weight: $weight-semibold;

    .lab-icon--sidebar-item {
      background-color: $item-active-color;
    }
  }
}

//With Scroll
.lab-narrow-sidebar--with-scroll {
  .lab-narrow-sidebar__body{
    box-shadow: 1px 1px 2px $black-20;  
  }

  .lab-narrow-sidebar__header{
    box-shadow: inset 0px -1px 2px $black-20;  
  }
} 

//For Tablet and Desktop

@media (min-width: 900px) {
  .lab-narrow-sidebar {
    width: 128px;
    border: 2px solid $mineral-20;
    box-sizing: border-box;
    
    &__footer {
      align-items: center;
    
      &__button {
        padding: 4px;
        width:76%;
        margin-left: 0px;
        align-items: center;
        font-size: $font-size-1;
        
        .lab-icon--sidebar-item {
          margin-right: 4px;
        } 
      }
    }

    &__header {
      justify-content: center;
      position: relative;
      width: 128px;
      padding: 30px 0;
    }
    
    &__collapse {
      display: none;
    }
    
    &__body {
      overflow: auto;
      margin-top: 0;
    }
    
    &__item {
      display: flex;
      flex-direction: column; 
      align-items: center;
      text-align: center;
      font-size: $font-size-1;
      padding: 16px;
      margin:0;
      border-radius: 0px;
    
      .lab-icon--sidebar-item {
        margin:0;
      }
    }
    
    &__avatar-text,
    &__avatar-caption {
      display:none;
    } 
    
    &__avatar,
    &__avatar-photo {
      margin: 0 0px 4px 0;
    }

    .lab-narrow-sidebar__item:focus {
      &:before {
        margin-right: 0px;
      }  
    }
  }

  .lab-narrow-sidebar__content {
    overflow-y:hidden;
  }

  .lab-narrow-sidebar__trigger{
    display: none;
  }
}

// Vivid Skin
.lab-narrow-sidebar--vivid{
  border: transparent;
  .lab-narrow-sidebar__item {
    color: $white;

    &:focus {
      &:before {
        border-color: $white-50;
      }
    }
  
    &:hover {
      background-color:$white-20;
    } 
  
    &:active {
      background-color:$white-75;
    }
  
    &--active {
      background-color:$white;
    }

    .lab-icon--sidebar-item {
      background-color: $white;
    }
  }

  .lab-narrow-sidebar__footer__button {
    color: $white;

    .lab-icon--sidebar-item {
      background-color: $white;
    }

    &:focus {
      border-color: $white-50;
    }
  
    &:hover {
      background-color: $white-20;
    }
  
    &:active {
      background-color: $white-75;      
    }
  
    .lab-narrow-sidebar__footer__button--active {
      background-color: $white;
    }
  }

  .lab-narrow-sidebar__avatar {

    &-text{
      color: $white;
    }
  
    &-caption {
      color: $white-75;
    }
  }

  .lab-narrow-sidebar__collapse{

    &:focus{
      border-color: $white-50;
      outline: none;
    }

    &:active {
      background-color: $white-75;
    }

    .lab-icon--sidebar-item{
      background-color: $white;
    }
  }
  
  .lab-narrow-sidebar__trigger {
    background-color: $white;
  }

  .sidebar-trigger:active {
    .lab-icon {
      background-color: $white;
    }
  }
  
  
}

// Vivid narrow sidebar mixin

@mixin narrow-sidebar-skin-vivid($color) {
  background: $color;

  .lab-narrow-sidebar__header{
    background-color: $color;
  }

  .lab-narrow-sidebar__item--active,
  .lab-narrow-sidebar__item:active {
    color: $color; 

    &:focus {
      &:before {
        border-color: $color;
      }
    }

    .lab-icon--sidebar-item {
      background-color: $color;
    }
  }

  .lab-narrow-sidebar__footer__button--active,
  .lab-narrow-sidebar__footer__button:active  {
    color: $color; 
    
    .lab-icon--sidebar-item {
      background-color: $color;
    }    
  }

  .lab-narrow-sidebar__collapse:active {
    .lab-icon--sidebar-item {
      background-color: $color;
    }
  }  

  .lab-narrow-sidebar__trigger {
    border-color: $color;
  }

  .sidebar-trigger {
    .lab-icon {
      background-color: $color;
    }

    &:focus {
      border-color: $color;
    }
  
    &:active {
      background-color: $color;
    }
  } 
}

/*
* This will generate the classes:
* `.lab-narrow-sidebar--vivid-coral,
* `.lab-narrow-sidebar--vivid-teal,
* `.lab-narrow-sidebar--vivid-purple,
* `.lab-narrow-sidebar--vivid-mineral,
*/
@each $name, $palette in $sidebar-colors {
  .lab-narrow-sidebar--vivid--#{$name} {
     @if $name == "mineral" {
        @include narrow-sidebar-skin-vivid(map-get($palette, "90"));
     } @else {
        @include narrow-sidebar-skin-vivid(map-get($palette, "60")); 
     }
  }
}