@use "sass:map";

$tag-font-size: 14px;
$tag-line-heigt: 20px;

$tag-background: $teal-40;
$tag-border: 2px;


// soft
$tag-main-color: map-get($tag-theme, "20");
$tag-border-color: map-get($tag-theme, "20");
$tag-text-color: map-get($tag-theme, "70");
$tag-hover-color: white;
$tag-hover-shadow-color: map-get($tag-theme, "20");
$tag-focus-shadow-color: map-get($tag-theme, "30");
$tag-focus-hover-bg-color: $tag-hover-color;

// intense
$tag-intense-main-color: map-get($tag-theme, "60");
$tag-intense-border-color: $tag-main-color;
$tag-intense-text-color: white;
$tag-intense-hover-color: mix($tag-intense-main-color, black, 50%);
// $tag-intense-hover-shadow-color: map-get($tag-theme, "20");
// $tag-intense-focus-shadow-color: map-get($tag-theme, "30");
// $tag-intense-focus-hover-bg-color: $tag-hover-color;

.lab-tag {
  height: 24px;
  margin: 4px; //think if this should be here or not
  padding: 0 16px;
  font-size: $tag-font-size;
  line-height: $tag-line-heigt;
  font-weight: $weight-bold;
  border-radius: 12px;
  border: $tag-border solid;
  text-decoration: none;
  transition: all $duration-base;
  cursor: pointer;
  outline: none;
  font-family: $font-primary;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;

  &:hover {
    box-shadow: 0 0 0 4px $tag-hover-shadow-color;
  }

  &:focus {
    box-shadow: 0 0 0 2px $tag-focus-shadow-color;
  }

  &:focus:hover {
    box-shadow: 0 0 0 2px $tag-focus-shadow-color, 0 0 0 4px $tag-hover-shadow-color;
  }
}

/* Tag styles */
.lab-tag--fill {
  border-color: $tag-main-color;
  background-color: $tag-main-color;
  color: $tag-text-color;

  &:hover {
    background-color: $tag-hover-color;
    border-color: $tag-hover-color;
  }

  &:focus:hover {
    border-color: $tag-focus-hover-bg-color;
  }

  &.lab-tag--disabled {
    background-color: $mineral-10;
    color: $mineral-30;
    border-color: $mineral-10;
    pointer-events: none;
  }

  //Colors and styles
  &.lab-tag--teal-intense {
    border-color: $tag-intense-main-color;
    background-color: $tag-intense-main-color;
    color: white;

    &:hover {
      background-color: $tag-intense-hover-color;
      border-color: $tag-intense-hover-color;
    }

    .lab-icon { background-color: $white; }
    .lab-tag__right-icon--remove  .lab-icon { background-color: $tag-intense-main-color }
  }
}

.lab-tag--outline {
  border-color: $tag-border-color;
  background-color: white;
  color: $tag-text-color;

  &.lab-tag--disabled {
    color: $mineral-30;
    border-color: $mineral-10;
    pointer-events: none;
  }

  &.lab-tag--intense {
    color: $tag-main-color;
  }
}


/* Elements */
.lab-tag__thumb {
  position: relative;
  left: -$tag-border;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: calc(#{$spacing-02} - #{$tag-border});
}

.lab-tag__left-icon {
  display: flex;
  margin-right: $spacing-01;

  .lab-icon {
    background-color: $tag-text-color;
  }
}

.lab-tag__right-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: $spacing-02;
  width: 16px;
  height: 16px;

  .lab-icon {
    background-color: $tag-text-color;
  }

  /* Tag right icon modifier */
  &--remove {
    background-color: white;
    border-radius: 8px;

    .lab-tag--outline & {
      background-color: $tag-border-color;
    }
  }

  /* Tag dropdown icon modifier */
  &--dropdown {
    padding-right: $spacing-02;
  }
}

.lab-tag--has-thumb {
  padding-left: 0;
}

.lab-tag--has-left-icon {
  padding-left: $spacing-01;
}

.lab-tag--has-right-icon {
  padding-right: calc(#{$spacing-01} - #{$tag-border});
}

// Colors
/* TEAL */

// $tag-main-palettes: (
//   "teal": $teal-palette,
//   "purple": $purple-palette,
// );

// .lab-tag--fill {
//     border-color: $teal;

//     @each $name, $palette in $tag-main-palettes {
//         @each $key, $color in $palette {
//             .lab-tag--#{$name}-intense {
//                 color: $color;
//             }
//         }
//     }
// }