$icon-size: 1.5rem !default;

.lab-icon {
  -webkit-mask-image: url('~labsystem/static/icons/main-teal.svg');
  mask-image: url('~labsystem/static/icons/main-teal.svg');

  &.teal {
    background-color: $teal;
  }
  &.mineral70 {
    background-color: $mineral-70;
  }
  &.mineral20 {
    background-color: $mineral-20;
  }
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  height: $icon-size;
  width: $icon-size;
  font-size: $icon-size;
  line-height: 1;
  display: inline-block;

  &.arrow-left {
    -webkit-mask-position: left 0 top 0;
    mask-position: left 0 top 0;
  }

  &.arrow-right {
    -webkit-mask-position: left 0 top $icon-size*-1;
    mask-position: left 0 top $icon-size*-1;
  }

  &.arrow-top {
    -webkit-mask-position: left 0 top $icon-size*-2;
    mask-position: left 0 top $icon-size*-2;
  }

  &.arrow-down {
    -webkit-mask-position: left 0 top $icon-size*-3;
    mask-position: left 0 top $icon-size*-3;
  }

  &.sort {
    -webkit-mask-position: left 0 top $icon-size*-4;
    mask-position: left 0 top $icon-size*-4;
  }


  &.dropdown-closed {
    -webkit-mask-position: left $icon-size*-1 top 0;
    mask-position: left $icon-size*-1 top 0;
  }

  &.dropdown-open {
    -webkit-mask-position: left $icon-size*-1 top $icon-size*-1;
    mask-position: left $icon-size*-1 top $icon-size*-1;
  }

  &.collapse-closed {
    -webkit-mask-position: left $icon-size*-1 top $icon-size*-2;
    mask-position: left $icon-size*-1 top $icon-size*-2;
  }

  &.collapse-open {
    -webkit-mask-position: left $icon-size*-1 top $icon-size*-3;
    mask-position: left $icon-size*-1 top $icon-size*-3;
  }


  &.remove {
    -webkit-mask-position: left $icon-size*-2 top 0;
    mask-position: left $icon-size*-2 top 0;
  }

  &.plus {
    -webkit-mask-position: left $icon-size*-2 top $icon-size*-1;
    mask-position: left $icon-size*-2 top $icon-size*-1;
  }

  &.minus {
    -webkit-mask-position: left $icon-size*-2 top $icon-size*-2;
    mask-position: left $icon-size*-2 top $icon-size*-2;
  }

  &.check {
    -webkit-mask-position: left $icon-size*-2 top $icon-size*-3;
    mask-position: left $icon-size*-2 top $icon-size*-3;
  }


  &.eye-opened {
    -webkit-mask-position: left $icon-size*-3 top 0;
    mask-position: left $icon-size*-3 top 0;
  }

  &.eye-closed {
    -webkit-mask-position: left $icon-size*-3 top $icon-size*-1;
    mask-position: left $icon-size*-3 top $icon-size*-1;
  }

  &.lupe {
    -webkit-mask-position: left $icon-size*-3 top $icon-size*-2;
    mask-position: left $icon-size*-3 top $icon-size*-2;
  }

  &.trash {
    -webkit-mask-position: left $icon-size*-3 top $icon-size*-3;
    mask-position: left $icon-size*-3 top $icon-size*-3;
  }


  &.logout {
    -webkit-mask-position: left $icon-size*-4 top 0;
    mask-position: left $icon-size*-4 top 0;
  }

  &.track {
    -webkit-mask-position: left $icon-size*-4 top $icon-size*-1;
    mask-position: left $icon-size*-4 top $icon-size*-1;
  }

  &.calendar {
    -webkit-mask-position: left $icon-size*-4 top $icon-size*-2;
    mask-position: left $icon-size*-4 top $icon-size*-2;
  }

  &.coin {
    -webkit-mask-position: left $icon-size*-4 top $icon-size*-3;
    mask-position: left $icon-size*-4 top $icon-size*-3;
  }


  &.edit {
    -webkit-mask-position: left $icon-size*-5 top 0;
    mask-position: left $icon-size*-5 top 0;
  }

  &.key {
    -webkit-mask-position: left $icon-size*-5 top $icon-size*-1;
    mask-position: left $icon-size*-5 top $icon-size*-1;
  }

  &.upload {
    -webkit-mask-position: left $icon-size*-5 top $icon-size*-2;
    mask-position: left $icon-size*-5 top $icon-size*-2;
  }

  &.reload {
    -webkit-mask-position: left $icon-size*-5 top $icon-size*-3;
    mask-position: left $icon-size*-5 top $icon-size*-3;
  }


  &--petit {
    transform: scale(0.66666);
  }

  &--small {
    transform: scale(0.83333);
  }
}
