@use 'sass:map';

// Light
$item-focus-color: map-get($narrow-sidebar-theme, "30");
$item-pressed-color: map-get($narrow-sidebar-theme, "20");
$item-hover-color: map-get($narrow-sidebar-theme, "10");
$item-active-color: map-get($narrow-sidebar-theme, "70");
$narrow-mobile-topbar-bg: map-get($narrow-sidebar-theme, "60");

$radius-default: 60px;
$border-default: $border-01;

.lab-narrow-sidebar {
  width: 80%;
  display: flex;
  overflow-y: auto;
  overflow-x:hidden;
  height: 100vh;
  top: 0;
  position: fixed; 
  align-items: stretch;
  flex-direction: column;
  border-top-right-radius: $radius-default;
  background-color: white;
  transition: ease left .6s;
  
  &--on {
    left: 0;
  }
  
  &--off {
    left: -300px;
  }

  @include from($tablet){
    width: 128px;
    border: $border-default $mineral-20;
    box-sizing: border-box;
  }
} 

.lab-narrow__overlay {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: $black-50;
  pointer-events: none;
  transition: ease all .2s;

  &--on {
    opacity: 1;
  }

  &--off {
    opacity: 0;
  }

  @include from($tablet) {
    display: none;
  }
}


//Header
.lab-narrow-sidebar__header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 80%;
  padding: 16px 28px;
  flex-grow: 0;
  z-index: 1;
  border-top-right-radius: $radius-default;
  background-color: $white;
  box-sizing: border-box;

  @include from ($tablet){
    justify-content: center;
    position: relative;
    width: 128px;
    padding: 30px 0;
  }
}

.lab-narrow-sidebar__logo {
  display: block;
  width: 52px;
  height: 44px;
  background-color: $mineral-20;
}

.lab-narrow-sidebar__avatar {
  display: flex;
  align-items: center;
  margin-left: 28px;
  margin-bottom: 12px;

  @include from($tablet){
    margin: 0 0 8px 0;
  }
  
  
  &-photo {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin: 12px 8px 12px 0;
    background-color: $mineral-20;

    @include from($tablet){
      margin: 0 0 8px 0;
    }
  }

  &-text{
    display: flex;
    flex-direction: column;
    color: $teal-70;
    font-weight: $weight-bold;
    font-family: $font-primary;
    font-size: $font-size-3; 

    @include from($tablet){
      display: none;
    }
  }

  &-caption {
    display: inline-flex;
    font-family: $font-primary;
    color: $black-50;
    font-weight: $weight-medium;

    @include from($tablet){
      display: none;
    }
  }
}

.lab-narrow-sidebar__collapse {
  background-color: transparent;
  display: block;
  box-sizing: border-box;
  color: $mineral-60;
  background-color: transparent;
  border: $border-default transparent;
  border-radius: $radius-02;

  &:focus {
    border-color: $item-focus-color;
    outline: none;
  }

  &:active {
    background-color: $item-focus-color;
  }

  @include from($tablet){
    display: none;
  }
}
// Topbar that apperson only on mobile.
// It holds the button to open the sidebar on mobile.
.lab-narrow-sidebar__mobile-topbar {
  position:fixed;
  right: 0;
  top: 0;
  background-color: $narrow-mobile-topbar-bg;
  width: 100%;
  height: 76px;  
  border-bottom: 1px solid transparent;

  @include from($tablet){
    display: none;
  }
  
  &-button {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 18px 0 18px 12px;
    background-color: transparent;
    border: $border-default transparent;
    border-radius: $radius-02;
  
    &:focus {
      border-color: $item-focus-color;
      outline: none;
    }
  
    &:active {
      background-color: $item-focus-color;
      .lab-icon {
        background-color: $item-active-color;
      }
    }
  
  }
}


//Body
.lab-narrow-sidebar__body {
  display: flex;
  align-self: flex-start;
  width: 100%;
  flex-direction: column;
  padding: $spacing-01 0;
  margin-top: 76px;

  @include from ($tablet){
    overflow: auto;
    margin-top: 0;
  }
  
}

.lab-narrow-sidebar__item {
  position: relative;
  display: flex;
  font-family: $font-primary;
  font-weight: $weight-medium;
  font-size: $font-size-4;
  text-decoration: none;
  color: $mineral-60;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: $spacing-04 $spacing-05;
  margin-left: 28px;
  margin-right: -$spacing-02;
  border-radius: $spacing-03;

  @include from($tablet){
      display: flex;
      flex-direction: column; 
      align-items: center;
      text-align: center;
      font-size: $font-size-1;
      padding: $spacing-04;
      margin: 0;
      border-radius: 0;
  }

  .sidebar-item {
    margin-right: $spacing-02;

    @include from($tablet){
      margin: 0;
    }
  }

  &:focus {
    outline: none;

    &:before {
      content: " ";
      display: block;
      border: $border-default $item-focus-color;
      position: absolute;
      margin-right: $spacing-02;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      border-radius: $radius-03;

      @include from($tablet){
        margin-right: 0;
      }
    }
  }

  &:hover {
    background-color:$item-hover-color;
  } 

  &:active {
    background-color:$item-focus-color;
  }

  &--active {
    background-color:$item-pressed-color;
    font-weight: $weight-semibold;
    color: $item-active-color;

    .sidebar-item {
      background-color: $item-active-color;
    }
  }
}



//Footer
.lab-narrow-sidebar__footer {
  display: flex;
  width: 100%;
  margin: $spacing-06 0 $spacing-06;
  flex-direction: column;
  flex-grow: 0;
  
  @include from($tablet){
    align-items: center;
  }
  
  &__button {
    display: flex;
    width: 60%;
    box-sizing: border-box;
    margin-bottom: $spacing-01;
    text-align: center;
    font-family: $font-primary;
    font-weight: $weight-medium;
    color: $narrow-mobile-topbar-bg;
    background-color: transparent;
    border: $border-default transparent;
    padding: $spacing-01 $spacing-03;
    margin-left: 28px;
    border-radius: $radius-03;
    font-size: $font-size-4;

    @include from($tablet) {
      cursor: pointer;
      padding: $spacing-01;
      width: 76%;
      margin-left: 0;
      align-items: center;
      font-size: $font-size-1;
    }

    .sidebar-item {
      background-color: $narrow-mobile-topbar-bg;
      margin-right: $spacing-02;

      @include from($tablet){
        margin-right: $spacing-01;
      }
    }
  }

  &__button:focus {
    border: $border-default $item-focus-color;
    outline: none;
  }

  &__button:hover {
    background-color: $item-hover-color;
  }

  &__button:active {
    background-color: $item-focus-color;
    
  }

  &__button--active {
    background-color: $item-pressed-color;
    color: $item-active-color;
    font-weight: $weight-semibold;

    .sidebar-item {
      background-color: $item-active-color;
    }
  }
}

//With Scroll
.lab-narrow-sidebar--with-scroll {
  .lab-narrow-sidebar__body{
    box-shadow: 1px 1px 2px $black-20;  
  }

  .lab-narrow-sidebar__header{
    box-shadow: inset 0 -1px 2px $black-20;
  }
} 


// Vivid Skin
.lab-narrow-sidebar--vivid{
  border: transparent;
  .lab-narrow-sidebar__item {
    color: $white;

    &:focus {
      &:before {
        border-color: $white-50;
      }
    }
  
    &:hover {
      background-color: $white-20;
    } 
  
    &:active {
      background-color: $white-75;
    }
  
    &--active {
      background-color: $white;
    }

    .sidebar-item {
      background-color: $white;
    }
  }

  .lab-narrow-sidebar__footer__button {
    color: $white;

    .sidebar-item {
      background-color: $white;
    }

    &:focus {
      border-color: $white-50;
    }
  
    &:hover {
      background-color: $white-20;
    }
  
    &:active {
      background-color: $white-75;      
    }
  
    .lab-narrow-sidebar__footer__button--active {
      background-color: $white;
    }
  }

  .lab-narrow-sidebar__avatar {

    &-text{
      color: $white;
    }
  
    &-caption {
      color: $white-75;
    }
  }

  .lab-narrow-sidebar__collapse,
  .lab-narrow-sidebar__mobile-button{

    &:focus{
      border-color: $white-50;
      outline: none;
    }

    &:active {
      background-color: $white-75;
    }

    .sidebar-item{
      background-color: $white;
    }
  }
  
  .lab-narrow-sidebar__mobile-topbar {
    background-color: $white;
  }
  
}

// Vivid narrow sidebar mixin

@mixin narrow-sidebar-skin-vivid($color) {
  background: $color;

  .lab-narrow-sidebar__header{
    background-color: $color;
  }

  .lab-narrow-sidebar__item--active,
  .lab-narrow-sidebar__item:active {
    color: $color; 

    &:focus {
      &:before {
        border-color: $color;
      }
    }

    .sidebar-item {
      background-color: $color;
    }
  }

  .lab-narrow-sidebar__footer__button--active,
  .lab-narrow-sidebar__footer__button:active  {
    color: $color; 
    
    .sidebar-item {
      background-color: $color;
    }    
  }
 
  .lab-narrow-sidebar__collapse{
    &:active{
      .sidebar-item {
        background-color: $color;
      }
    }
  }  

  
  .lab-narrow-sidebar__mobile-topbar {
    &-button:active{
      .lab-icon{
        background-color: $color;
      }
    }
  }
  
}

/*
* This will generate the classes:
* `.lab-narrow-sidebar--vivid-coral,
* `.lab-narrow-sidebar--vivid-teal,
* `.lab-narrow-sidebar--vivid-purple,
* `.lab-narrow-sidebar--vivid-mineral,
*/
@each $name, $palette in $sidebar-colors {
  .lab-narrow-sidebar--vivid--#{$name} {
     @if $name == "mineral" {
        @include narrow-sidebar-skin-vivid(map-get($palette, "90"));
     } @else {
        @include narrow-sidebar-skin-vivid(map-get($palette, "60")); 
     }
  }
}