$border-01: 2px solid;
$hover-shadow: 0 0 0 6px;
$focus-shadow: 0 0 0 2px;

$radius-01: 2px;
$radius-02: 4px;

$input-internal-spacing: 2px;

$search-button-idle-filled: map-get($search-theme, "60");
$search-button-active-filled: map-get($search-theme, "70");
$search-button-focus: map-get($search-theme, "70");
$search-button-hover: map-get($search-theme, "10");
$search-button-focus-hover: map-get($search-theme, "80");

$search-button-idle: $mineral-40;
$search-button-disabled: $mineral-20;
$search-button-active: $mineral-70;
$search-separator-disabled: $mineral-10;

$remove-icon-focus: map-get($search-theme, "30");


// Wrapper div around input element. All inputs must have it.
.search-input {
    position: relative;
    width: 320px;
    margin-top: $spacing-03;
    box-sizing: border-box;
    border-radius: $radius-02;
    z-index: 99;
}

.searchButton {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    width: 40px;
    height: 36px;
    padding: 0px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $search-button-idle;
    outline: none;
    cursor: pointer;

    .lab-icon {
        margin-left:8px;
    }

    .lab-input__field:focus ~ &,
    .lab-input__field:not(:placeholder-shown):focus ~ & {
        background-color: $search-button-focus;
    }

    .lab-input__field:not(:placeholder-shown) ~ &,
    .lab-input__field:not(:placeholder-shown):hover ~ & {
        background-color: $search-button-idle-filled;
    }


    .lab-input__field:not(:placeholder-shown):focus:hover ~ & {
        background-color: $search-button-focus-hover;
    }

    .lab-input__field:not(:placeholder-shown)~ &:focus {
        background-color: $search-button-focus;
        border: 1px solid $search-button-hover;
        border-radius: 3px;
        transition-duration: 0.05s;
    }

    .lab-input__field:hover ~ &:disabled,
    &:disabled {
        background-color: $search-button-disabled;  
        border: none;
        pointer-events: none;        
    }

    &:active {
        background-color: $search-button-active;
        border: 1px solid $search-button-hover;
        border-radius: 3px;          
    }
}


.search-separator {
    position: absolute;
    top: 2px;
    right: 38px;
    bottom: 3px;
    background-color: $white;
    width: 8px;
    height: 36px;
    border-radius: $radius-02;
    z-index: 1;

    .lab-input__field:disabled~ & {
        background-color:$search-separator-disabled;               
    }
}


// Inline 



.search-icon {
    position: absolute;
    top: 8px;
    left: $spacing-02;
    z-index: 1;
    width: 24px;
    height: 24px;
    padding: 0px;
    border: none;
    background-color: transparent;

    &~ .search-input__field {
        padding-left: $spacing-06;
        padding-right: $spacing-07;
    }
}

.lab-icon--inline-search-lupe {
    background-color: $mineral-40;
    position: absolute;
    top: 8px;
    left: $spacing-02;
    z-index: 1;
    width: 24px;
    height: 24px;
    padding: 0px;
    border: none;

    &~ .search-input__field {
        padding-left: $spacing-06;
        padding-right: $spacing-07;
    }

    .lab-input__field:focus ~ & {
        background-color: $search-button-focus;
    }

    .lab-input__field:not(:placeholder-shown) ~ & {
        background-color: $search-button-idle-filled;  
    }

    .lab-input__field:not(:placeholder-shown):focus ~ & {
        background-color: $search-button-focus;
    }

    .lab-input__field:not(:placeholder-shown):hover ~ & {
        background-color: $search-button-idle-filled;
    }

    .lab-input__field:not(:placeholder-shown):focus:hover ~ & {
        background-color: $search-button-focus-hover;
    }
}

.remove-icon {
    position: absolute;
    top: 8px;
    right: $spacing-02;
    z-index: 1;
    width: 24px;
    height: 24px;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    opacity: 1;
    border-radius: 4px;
    cursor: pointer;

    .lab-input__field:not(:placeholder-shown) ~ & {
        opacity:1;
    }

    &:focus {
        &:focus {
            @include border-shadow(focus, $remove-icon-focus);
          }
    }

    &:disabled {
        pointer-events: none;
    }
}

.inline-search-input{
    padding-left: $spacing-08;
    padding-right: $spacing-07; 
}