@use 'sass:map';

// Standard Dialog component
.lab-dialog {
}

.lab-dialog--standard {
  border: 1px solid;
}

.lab-dialog__header {
  display: flex;
  justify-content: space-between;
}

.lab-dialog__title {
  color: $teal-40;
  font-weight: $weight-bold;
}

.lab-dialog__content {
  min-width: 100%;
  width: 0;
  overflow-x: auto;
}

.lab-dialog__footer {
  display: flex;
  justify-content: flex-end;
  background: $mineral-10;
}

.lab-dialog--message {
  border: 1px solid;
}

.lab-dialog__icon {
  display: flex;
  justify-content: center;
}

.lab-dialog__header--message{
  display: flex;
  justify-content: flex-end;
}

.lab-dialog__title--message {
  display: flex;
  justify-content: center;
  color: $teal-40;
  font-weight: $weight-bold;
}

.lab-dialog__content--message {
  display:flex;
  justify-content: center;
}

.lab-dialog--large {
}