@use "sass:map";

$tag-font-size: 14px;
$tag-line-heigt: 20px;
$tag-border: 2px;

// soft
$tag-soft-color: map-get($tag-theme, "20");
$tag-text-color: map-get($tag-theme, "70");
$tag-hover-color: white;
$tag-hover-shadow-color: map-get($tag-theme, "20");
$tag-focus-shadow-color: map-get($tag-theme, "30");
$tag-focus-hover-bg-color: $tag-hover-color;

// intense
$tag-intense-color: map-get($tag-theme, "60");
$tag-intense-hover-color: mix($tag-intense-color, black, 50%);

.lab-tag {
  height: 24px;
  margin: 4px; //think if this should be here or not
  padding: 0 16px;
  font-size: $tag-font-size;
  line-height: $tag-line-heigt;
  font-weight: $weight-bold;
  border-radius: 12px;
  border: $tag-border solid;
  text-decoration: none;
  transition: all $duration-base;
  // cursor: pointer;
  outline: none;
  font-family: $font-primary;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;

  &:focus {
    box-shadow: 0 0 0 2px $tag-focus-shadow-color;
  }

  &:hover {
    box-shadow: 0 0 0 4px $tag-hover-shadow-color;
  }

  &:focus:hover {
    box-shadow: 0 0 0 2px $tag-focus-shadow-color, 0 0 0 4px $tag-hover-shadow-color;
    border-color: $tag-focus-hover-bg-color;
  }

  &.lab-tag--disabled {
    background-color: $mineral-10;
    color: $mineral-30;
    border-color: $mineral-10;
    pointer-events: none;
  }

  &.lab-tag__chip {
    cursor: pointer;
  }
}

.lab-tag__skin-soft {
  background-color: $tag-soft-color;
  border-color: $tag-soft-color;
  color: $tag-text-color;

  .lab-icon {
    background-color: $tag-text-color;
  }

  &:hover {
    background-color: $tag-hover-color;
    border-color: $tag-hover-color;

    .lab-tag__right-icon--remove {
      background-color: $tag-soft-color;
    }
  }
}

.lab-tag__skin-intense {
  border-color: $tag-intense-color;
  background-color: $tag-intense-color;
  color: white;

  .lab-icon {
    background-color: $white;
  }

  .lab-tag__right-icon--remove  .lab-icon {
    background-color: $tag-intense-color
  }

  &:hover {
    background-color: $tag-intense-hover-color;
    border-color: $tag-intense-hover-color;
  }
}

/* Elements */
.lab-tag__thumb {
  position: relative;
  left: -$tag-border;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: calc(#{$spacing-02} - #{$tag-border});
}

.lab-tag__left-icon {
  display: flex;
  margin-right: $spacing-01;
}

.lab-tag__right-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: $spacing-02;
  width: 16px;
  height: 16px;

  &--remove {
    background-color: white;
    border-radius: 8px;
  }

  &--dropdown {
    padding-right: $spacing-02;
  }
}

/* Tag with elements */
.lab-tag--has-thumb {
  padding-left: 0;
}

.lab-tag--has-left-icon {
  padding-left: $spacing-01;
}

.lab-tag--has-right-icon {
  padding-right: calc(#{$spacing-01} - #{$tag-border});
}


//Styles for soft and intense colorStyles with color from theme
@each $name, $palette in $tag-main-colors {
  .lab-tag--#{$name}-soft {
    background-color: map-get($palette, "20");
    border-color: map-get($palette, "20");
    color: map-get($palette, "70");

    .lab-icon {
      background-color: map-get($palette, "70");
    }

    &:hover {
      background-color: white;
      border-color: white;
      box-shadow: 0 0 0 4px map-get($palette, "20");

      .lab-tag__right-icon--remove {
        background-color: map-get($palette, "20");
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px map-get($palette, "30");
    }

    &:focus:hover {
      box-shadow: 0 0 0 2px map-get($palette, "30"), 0 0 0 4px map-get($palette, "20");
      border-color: $tag-focus-hover-bg-color;
    }

    &.lab-tag--outline {
      background-color: white;
      color: map-get($palette, "70");

      &:focus:hover {
        border-color: map-get($palette, "20");
      }

      .lab-tag__right-icon--remove {
        background-color: map-get($palette, "20");
      }

      &.lab-tag--disabled {
        color: $mineral-40;
      }
    }

    // .lab-tag .lab-tag__skin--soft .lab-tag--outline  .lag-tag-teal--soft
  }

  .lab-tag--#{$name}-intense {
    border-color: map-get($palette, "60");
    background-color: map-get($palette, "60");
    color: white;

    .lab-icon {
      background-color: white;
    }

    .lab-tag__right-icon--remove  .lab-icon {
      background-color: $tag-intense-color;
      @if $name == "mineral" { background-color: map-get($palette, "70"); }
    }

    &:hover {
      background-color: mix(map-get($palette, "60"), black, 50%);
      border-color: mix(map-get($palette, "60"), black, 50%);
      box-shadow: 0 0 0 4px map-get($palette, "20");
    }

    &:focus {
      box-shadow: 0 0 0 2px map-get($palette, "30");
    }

    &:focus:hover {
      box-shadow: 0 0 0 2px map-get($palette, "30"), 0 0 0 4px map-get($palette, "20");
      border-color: $tag-focus-hover-bg-color;
    }

    &.lab-tag--outline {
      background-color: white;
      color: map-get($palette, "60");

      .lab-icon {
        background-color: map-get($palette, "60");
      }

      .lab-tag__right-icon--remove {
        background-color: map-get($palette, "20");
      }

      &:focus:hover {
        border-color: map-get($palette, "60");
      }

      &.lab-tag--disabled {
        color: $mineral-40;
      }
    }
  }
}

// Classes para intense e soft de red, green, yellow, cyan, pink, orange
@each $name, $palette in $tag-all-colors {
  .lab-tag--#{$name}-soft {
    background-color: map-get($palette, "20");
    color: $black-75;
    border-color: map-get($palette, "20");

    .lab-icon {
      background-color: $black-75;
    }

    &:hover {
      background-color: white;
      border-color: white;
      box-shadow: 0 0 0 4px map-get($palette, "20");

      .lab-tag__right-icon--remove {
        background-color: map-get($palette, "20");
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px map-get($palette, "60");
    }

    &:focus:hover {
      box-shadow: 0 0 0 2px map-get($palette, "60"), 0 0 0 4px map-get($palette, "20");
    }
  }

  .lab-tag--#{$name}-intense {
    background-color: map-get($palette, "60");
    border-color: map-get($palette, "60");
    color: white;
    @if $name == "yellow" { color: $black-75; }
    
    &:hover {
      background-color: mix(map-get($palette, "60"), black, 50%);
      border-color: mix(map-get($palette, "60"), black, 50%);
      box-shadow: 0 0 0 4px map-get($palette, "60");
      color: white;

      .lab-icon {
        background-color: white;
      }
    }
    
    &:focus {
      box-shadow: 0 0 0 2px map-get($palette, "60");
      border-color: map-get($palette, "20");
    }

    &:focus:hover {
      box-shadow: 0 0 0 2px map-get($palette, "20"), 0 0 0 4px map-get($palette, "60");
      border-color: mix(map-get($palette, "60"), black, 50%);
    }

    .lab-icon {
      background-color: white;
      @if $name == "yellow" { background-color: $black-75; }
    }

    .lab-tag__right-icon--remove .lab-icon {
      background-color: $black-75;
    }
  }
}
