/* The the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;

  /* Hide default HTML checkbox */
  .toggle__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .toggle__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    border: $border-01;
  }

  /* The circle that slides */
  .toggle__slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: -2px;
    bottom: -2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
    border: $border-01;
  }

  .toggle__input:checked + .toggle__slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .toggle__input:hover + .toggle__slider:before {
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
  }

  .toggle__input:hover:checked + .toggle__slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  /* TEAL */
  .toggle--teal {
    background-color: $teal-10;
    border-color: $teal-40;
  }

  .toggle__slider.toggle--teal:before {
    border-color: $teal-60;
  }

  .toggle__input:checked + .toggle__slider.toggle--teal {
    background-color: $teal-60;
  }

  .toggle__input:focus + .toggle__slider.toggle--teal {
    box-shadow: 0 0 0 2px $teal-30;
  }

  /* PURPLE */
  .toggle--purple {
    background-color: $purple-10;
    border-color: $purple-40;
  }

  .toggle__slider.toggle--purple:before {
    border-color: $purple-60;
  }

  .toggle__input:checked + .toggle__slider.toggle--purple {
    background-color: $purple-60;
  }

  .toggle__input:focus + .toggle__slider.toggle--purple {
    box-shadow: 0 0 0 2px $purple-30;
  }

  /* CORAL */
  .toggle--coral {
    background-color: $coral-10;
    border-color: $coral-40;
  }

  .toggle__slider.toggle--coral:before {
    border-color: $coral-60;
  }

  .toggle__input:checked + .toggle__slider.toggle--coral {
    background-color: $coral-60;
  }

  .toggle__input:focus + .toggle__slider.toggle--coral {
    box-shadow: 0 0 0 2px $coral-30;
  }
  /* DISABLED */
  .toggle--disabled {
    background-color: #ffffff;
    border-color: $mineral-20;
  }

  .toggle__slider.toggle--disabled:before {
    border-color: $mineral-20;
  }

  .toggle__input:checked + .toggle__slider.toggle--disabled {
    background-color: $mineral-20;
  }

  .toggle__input:focus + .toggle__slider.toggle--disabled {
    box-shadow: 0 0 0 2px $mineral-20;
  }

  .toggle__input:hover + .toggle--disabled.toggle__slider:before {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  .toggle__input:checked:hover + .toggle--disabled.toggle__slider:before  {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
}

