@use "sass:map";

$card-default-padding: $spacing-05;
$card-compact-padding: $spacing-03 $spacing-04;

// Layout
.lab-card {
  display: flex;
  flex-direction: column;
  padding: $card-default-padding;
  border-radius: $radius-04;
  border: $border-01;

  &.lab-card--pale {
    p:not(.lab-card-title):not(.lab-card-subtitle):not(.lab-card-category) {
      color: $black-75;
      margin-top: $spacing-03;
      margin-bottom: $spacing-03;
    }
  }
  &.lab-card--vivid {
    p:not(.lab-card-title):not(.lab-card-subtitle):not(.lab-card-category) {
      color: $white-87;
      margin-top: $spacing-03;
      margin-bottom: $spacing-03;
    }
  }

  &.lab-card--compact {
    padding: $card-compact-padding;

    .lab-card-image .lab-card-image--overflowed {
      border-radius: unset;
      max-width: calc(100% + 2 * #{$card-compact-padding});
      margin-left: -$card-compact-padding;
      margin-right: -$card-compact-padding;
    }

    &.lab-card-divider--overflowed {
      width: calc(100% + 2 * #{$card-compact-padding});
    }
  }

  &.lab-card--horizontal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    column-gap: $spacing-04;

    .lab-card-image {
      margin-bottom: unset;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      grid-row: 1 / last-line;
    }

    .lab-card-image--overflowed {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
      max-width: calc(100% + 2 * #{$card-default-padding});
      margin-top: -$card-default-padding;
      margin-bottom: -$card-default-padding;
      margin-left: -$card-default-padding;
    }

    .lab-card-header,
    .lab-card-divider,
    .lab-card-link-action,
    .lab-card-double-action,
    span {
      grid-column-start: 2;
    }
  }
}

// Elements
.lab-card-image {
  border-radius: $radius-03;
  max-width: 100%;

  &.lab-card-image--overflowed {
    border-radius: unset;
    max-width: calc(100% + 2 * #{$card-default-padding});
    margin-left: -$card-default-padding;
    margin-right: -$card-default-padding;
  }
}

.lab-card-divider {
  width: 100%;
  border: 1px solid $mineral-20;
  margin: 0;
  
  &.lab-card-divider--overflowed {
    width: calc(100% + 2 * #{$card-default-padding});
    margin-left: -$card-default-padding;
    margin-right: -$card-default-padding;
  }
}

.lab-card-header {
  margin-bottom: $spacing-03;

  &.lab-card-header--overlay {}
}

.lab-card-category {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: $spacing-03;

  .lab-icon {
    margin-right: $spacing-01;
  }

  @each $name, $palette in $all-colors {
    .lab-card-category__color {
      width: 16px;
      height: 8px;
      margin-right: $spacing-02;
      border-radius: $radius-02;

      &.lab-card-category__color--#{$name} {
        background-color: map-get($palette, "60");
      }
    }
  }

  .lab-card-category__text {
    margin-right: $spacing-01;
    font-size: $font-size-2;
    font-weight: $weight-bold;
    line-height: $spacing-06;
    text-transform: uppercase;
    color: $mineral-80;
  }
}

.lab-card-title {
  font-size: $font-size-4;
  font-weight: $weight-bold;
  color: $mineral-80;
  line-height: $spacing-05;
  margin-top: 0;
  margin-bottom: $spacing-01;
}

.lab-card-subtitle {
  font-size: $font-size-3;
  font-weight: $weight-medium;
  color: $black-75;
  line-height: $spacing-06;
  margin-top: 0;
  margin-bottom: 0;
}

.lab-card-link-action {
  display: flex;
  justify-content: center;
  margin-top: $spacing-05;
  margin-bottom: $spacing-03;
  font-size: $font-size-4;
  color: $mineral-80;

  &lab-card-link-action--normal {
    font-size: $font-size-4;
  }

  &lab-card-link-action--small {
    font-size: $font-size-3;
  }

  &lab-card-link-action--large {
    font-size: $font-size-5;
  }
}

.lab-card-double-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: $spacing-05;
  font-size: $font-size-4;
  color: $mineral-80;

  button:first-child {
    margin-bottom: $spacing-03;
  }

  &.lab-card-double-action--normal {}
  &.lab-card-double-action--small {}
  &.lab-card-double-action--large {}

  &.lab-card-double-action--horizontal {
    flex-direction: row;

    button:first-child {
      margin-right: $spacing-01;
    }

    button:last-child {
      margin-left: $spacing-01;
    }

    .lab-btn {
      flex-grow: 1;
    }
  }

  &.lab-card-double-action--text {}
}

// Colors
@each $name, $palette in $card-colors {

  // Card Layout
  .lab-card--#{$name} {
    @if $name != "white" {
      &.lab-card--outline {
        border-color: map-get($palette, "10");

        &.lab-card--vivid {
          @if $name == "mineral" {
            border-color: map-get($palette, "90");
          } @else if $name == "teal" {
            border-color: map-get($palette, "40");
          } @else if $name == "purple" {
            border-color: map-get($palette, "60");
          }
        }
      }
    }

    // Card Elements
    .lab-card .lab-icon {
      background-color: map-get($palette, "80");
    }

    .lab-card-category__text, .lab-card-title {
      color: map-get($palette, "80");
    }

    .lab-card-divider {
      border-color: map-get($palette, "20");
    }

    @if $name == "purple" {
      .lab-card-link-action a::before {
        background-color: map-get($palette, "30");
      }
    }

    // Filled Layout
    &.lab-card--filled {
      border: unset;

      @if $name != "white" {
        background-color: map-get($palette, "10");
      } @else if $name == "white" {
        border-color: map-get($palette, "87");
        background-color: map-get($palette, "87");
      }

      &.lab-card--vivid {
        @if $name == "mineral" {
          border-color: map-get($palette, "90");
          background-color: map-get($palette, "90");
        } @else if $name == "teal" {
          border-color: map-get($palette, "60");
          background-color: map-get($palette, "60");
        } @else if $name == "purple" {
          border-color: map-get($palette, "60");
          background-color: map-get($palette, "60");
        } @else if $name == "white" {
          border-color: $white;
          background-color: $white;
        }

        // Elements on Card Filled Vivid
        @if $name != "white" {
          .lab-icon {
            background-color: map-get($palette, "10");
          }

          .lab-card-category__text, .lab-card-title {
            color: map-get($palette, "10");
          }

          p {
            color: $white-87;
          }

          .lab-card-link-action a {
            color: $white;

            &:hover {
              color: map-get($palette, "80");
            }
          }
        }
      }

      // Elements on Filled Card
      .lab-card-divider {
        border-color: map-get($palette, "20");
      }
    }
    
    // Outline & Filled Layout
    &.lab-card--filled.lab-card--outline {
      border-color: map-get($palette, "90");
      background-color: map-get($palette, "10");
    }
  }
}