

.radio {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: 500;
        vertical-align: top;
      &:before {
        content: '';
        background: $white;
        border-radius: 100%;
        border: 2px solid $mineral-60;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right:$spacing-03;
        position: relative;
        vertical-align: text-bottom;
        cursor: pointer;
        transition: all 0.2s ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $teal-60;
          box-shadow: inset 0 0 0 2px $white;
          border: 2px solid $teal-60;
        }
      }
    }
    &:focus:checked {
      + .radio-label {
        &:before {
          outline: none;
          box-shadow: 0 0 0 2px $teal-30, inset 0 0 0 2px $white;
        }
      }
    }
    
    &:hover:checked {
      + .radio-label {
        &:before {
          outline: none;
          box-shadow: 0 0 0 6px $teal-10, inset 0 0 0 2px $white;
        }
      }
    }

    &:hover:focus:checked {
      + .radio-label {
        &:before {
          outline: none;
          box-shadow: 0 0 0 2px $teal-30, 0 0 0 6px $teal-10, inset 0 0 0 2px $white;
        }
      }
    }
    
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          box-shadow: 0 0 0 2px $mineral-30;
        }
      }
    }

    &:hover {
        + .radio-label {
          &:before {
            outline: none;
            box-shadow: 0 0 0 6px $mineral-10, inset 0 0 0 2px $white;
          }
        }
      }
    

          
          
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 2px $white;
          border-color: $mineral-20;
          background: $mineral-20;
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0px;
        }
      }
    }
  }
}