@use 'sass:map';

// Standard Dialog component
.lab-dialog {
  border: 1px solid;

  &--standard {

    &__header-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      color: $teal-40;
      font-weight: $weight-bold;
    }

    &__content {
      min-width: 100%;
      width: 0;
      overflow-x: auto;
    }

    &__footer-wrapper {
      display: flex;
      justify-content: flex-end;
      background: $mineral-10;
    }

    &__optional-button {
    }

    &__button {
    }
  }

  &--message {
    &__header-wrapper {
      display: flex;
      justify-content: flex-end;
    }

    &__icon {
      display: flex;
      justify-content: center;
    }

    &__title {
      display: flex;
      justify-content: center;
      color: $teal-40;
      font-weight: $weight-bold;
    }

    &__content {
      display:flex;
      justify-content: center;
    }

    &__button {
    }
  }

  &__close-button--with-background {
  }

  &__close-button--without-background {
  }
}
