// .lab-dropdown {}

.lab-dropdown__items-container {
  position: relative;
}

// .lab-dropdown__items-container--down{
// }

.lab-dropdown__items-container--up{
  position: relative;
  top: -80px;
}

.lab-dropdown__item--highlighted {
  color: red;
}

.lab-dropdown__item-flag {
  border-radius: $radius-02;
  display: inline-block;
  width: 20px;
  height: 8px;
}
// just as an example
.lab-dropdown__item-flag--teal {
  background-color: $teal-60;
}

.lab-dropdown__item--is-confirmation {
  background-color: green;
}

.lab-dropdown__item--is-destructive {
  background-color: red;
}
