$content-max-width: 900px !default;

// Default themes
$toggle-theme: $toggle-teal-theme !default;
$input-theme: $teal-palette !default;
$checkbox-theme: $teal-palette !default;
$radio-theme: $teal-palette !default;
