
// Default themes
$toggle-theme: $toggle-teal-theme !default;
<<<<<<< HEAD
$content-max-width: 900px;

$checkbox-theme: $teal-palette !default;
=======
$content-max-width: 900px;
>>>>>>> b78ad56c6ad759bc58dd66dcdee6a61824546313
