
// Toggle
$toggle-teal-theme: (
  "background-color-off": $teal-10,
  "background-color-on": $teal-60,
  "slider-border-color-off": $teal-40,
  "slider-border-color-on": $teal-60,
  "focus-border-color": $teal-30,
);

$toggle-purple-theme: (
  "background-color-off": $purple-10,
  "background-color-on": $purple-60,
  "slider-border-color-off": $purple-40,
  "slider-border-color-on": $purple-60,
  "focus-border-color": $purple-30,
);

// Tags

//Teal
// $tag-main-palettes: (
//   "teal": $teal-palette,
//   "purple": $purple-palette,
//   "mineral": $neutral-palette,
// );

// $tag-support-palettes: (
//   "green": $green-palette,
//   "yellow": $yellow-palette,
//   "orange": $orange-palette,
//   "pink": $pink-palette,
//   "cyan": $cyan-palette,
//   "red": $red-palette,
// );
  
$bg-color: $teal;
$border-color: $bg-color;
$text-color: $white;
$hover-bg-color: mix($bg-color, black, 50%);
$hover-border-color: $teal-10;
$focus-border-color: $teal-30;
$focus-hover-bg-color: $hover-bg-color;

// Color scheme teal-10
$tag-teal10-theme: (
  "bg-color": $teal-10,
  "border-color": $teal-10,
  "text-color": $teal-60,
  "hover-bg-color": white,
  "hover-border-color": $teal-10,
  "focus-border-color": $teal-30,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme teal-60
$tag-teal60-theme: (
  "bg-color": $teal-60,
  "border-color": $teal-60,
  "text-color": $white,
  "hover-bg-color": mix($teal-60, black, 50%),
  "hover-border-color": $teal-10,
  "focus-border-color": $teal-30,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme purple-10
$tag-purple10-theme: (
  "bg-color": $purple-10,
  "border-color": $purple-10,
  "text-color": $purple-60,
  "hover-bg-color": white,
  "hover-border-color": $purple-10,
  "focus-border-color": $purple-30,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme purple-60
$tag-purple60-theme: (
  "bg-color": $purple-60,
  "border-color": $purple-60,
  "text-color": $white,
  "hover-bg-color": mix($purple-60, black, 50%),
  "hover-border-color": $purple-10,
  "focus-border-color": $purple-30,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme mineral-10
$tag-mineral10-theme: (
  "bg-color": $mineral-10,
  "border-color": $mineral-10,
  "text-color": $mineral-60,
  "hover-bg-color": white,
  "hover-border-color": $mineral-10,
  "focus-border-color": $mineral-30,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme mineral-60
$tag-mineral60-theme: (
  "bg-color": $mineral-60,
  "border-color": $mineral-60,
  "text-color": $white,
  "hover-bg-color": mix($mineral-60, black, 50%),
  "hover-border-color": $mineral-10,
  "focus-border-color": $mineral-30,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme green-20
$tag-green20-theme: (
  "bg-color": $green-20,
  "border-color": $green-20,
  "text-color": $black-75,
  "hover-bg-color": white,
  "hover-border-color": $green-20,
  "focus-border-color": $green-60,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme green-60
$tag-green60-theme: (
  "bg-color": $green-60,
  "border-color": $green-60,
  "text-color": $white,
  "hover-bg-color": mix($green-60, black, 50%),
  "hover-border-color": $green-20,
  "focus-border-color": $green-60,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme red-20
$tag-red20-theme: (
  "bg-color": $red-20,
  "border-color": $red-20,
  "text-color": $black-75,
  "hover-bg-color": white,
  "hover-border-color": $red-20,
  "focus-border-color": $red-60,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme red-60
$tag-red60-theme: (
  "bg-color": $red-60,
  "border-color": $red-60,
  "text-color": $white,
  "hover-bg-color": mix($red-60, black, 50%),
  "hover-border-color": $red-20,
  "focus-border-color": $red-60,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme yellow-60
$tag-yellow20-theme: (
  "bg-color": $yellow-20,
  "border-color": $yellow-20,
  "text-color": $black-75,
  "hover-bg-color": white,
  "hover-border-color": $yellow-20,
  "focus-border-color": $yellow-60,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme yellow-20
$tag-yellow60-theme: (
  "bg-color": $yellow-60,
  "border-color": $yellow-60,
  "text-color": $white,
  "hover-bg-color": mix($yellow-60, black, 50%),
  "hover-border-color": $yellow-20,
  "focus-border-color": $yellow-60,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme pink-20
$tag-pink20-theme: (
  "bg-color": $pink-20,
  "border-color": $pink-20,
  "text-color": $black-75,
  "hover-bg-color": white,
  "hover-border-color": $pink-20,
  "focus-border-color": $pink-60,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme pink-60
$tag-pink60-theme: (
  "bg-color": $pink-60,
  "border-color": $pink-60,
  "text-color": $white,
  "hover-bg-color": mix($pink-60, black, 50%),
  "hover-border-color": $pink-20,
  "focus-border-color": $pink-60,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme cyan-20
$tag-cyan20-theme: (
  "bg-color": $cyan-20,
  "border-color": $cyan-20,
  "text-color": $black-75,
  "hover-bg-color": white,
  "hover-border-color": $cyan-20,
  "focus-border-color": $cyan-60,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme cyan-60
$tag-cyan60-theme: (
  "bg-color": $cyan-60,6
  "border-color": $cyan-60,
  "text-color": $white,
  "hover-bg-color": mix($cyan-60, black, 50%),
  "hover-border-color": $cyan-20,
  "focus-border-color": $cyan-60,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme orange-20
$tag-orange20-theme: (
  "bg-color": $orange-20,
  "border-color": $orange-20,
  "text-color": $black-75,
  "hover-bg-color": white,
  "hover-border-color": $orange-20,
  "focus-border-color": $orange-60,
  "focus-hover-bg-color": $hover-bg-color,
);
// Color scheme orange-60
$tag-orange60-theme: (
  "bg-color": $orange-60,
  "border-color": $orange-60,
  "text-color": $white,
  "hover-bg-color": mix($orange-60, black, 50%),
  "hover-border-color": $orange-20,
  "focus-border-color": $orange-60,
  "focus-hover-bg-color": $hover-bg-color,
);

// light": 10/20 outros termos": pale, gentle, mild, dull, soft, vivid, bright, rich
// dark": 60 outros termos": intense, vibrant, strong, shiny


