.lab-playground {
  margin: $spacing-5 0 !important;
  border: 2px solid $mineral-10;
  border-radius: $radius-2;

  h3 {
    font-size: $font-size-7;
    margin-top: 0;
    margin-bottom: $spacing-3;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;

    > * {
      margin-right: $spacing-2;
    }
  }
}

.lab-playground__configs {
  border-left: 2px solid $mineral-10;
  padding: $spacing-6;
  height: 100%;

  .lab-playground__item {
    display: inline-block;
    margin: $spacing-2 0;
    width: 100%;

    p {
      margin: $spacing-1 0;
    }
  }

  .lab-btn {
    margin: 4px;
  }

  h4, h6 { margin: 0.4rem 0; }
}
.lab-playground {
  .lab-toggle { margin-right: 0.4rem; }
}

.lab-playground__component {
  padding: $spacing-6;
  align-self: center;
}
