.lab-playground__configs {
  border-left: 2px solid $teal-40;
  height: 100%;

  .lab-playground__item {
    display: inline-block;
    margin: 4px;
    margin-left: 0;
  }

  h6 { margin: 0.4rem 0; }
}
.lab-playground {
  .lab-card-image { width: 150px; }
}
